{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% block navClassList %} mil-top-panel {% endblock %}
    <!-- banner -->
    <div class="mil-banner-sm mil-deep-bg">
        <img
                src="{% static 'img/deco/map.png' %}"
                alt="background"
                class="mil-background-image"
        />
        <div
                class="mil-deco mil-deco-accent"
                style="top: 47%; right: 10%; transform: rotate(90deg)"
        ></div>
        <div class="mil-banner-content">
            <div class="container mil-relative">
                <ul class="mil-breadcrumbs mil-mb-30">
                    <li><a href="home-1.html">Home</a></li>
                    <li><a href="about.html">About us</a></li>
                </ul>
                <h2 class="mil-uppercase">Enterprise</h2>
            </div>
        </div>
    </div>
    <!-- banner end -->

    <!-- call to action -->
    <section class="mil-p-120-60">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 col-xl-6">
                    <h4 class="mil-mb-60">
                        Lorem ipsum dolor sit amet,
                        <span class="mil-accent">consectetur adipiscing elit</span>, sed do
                        eiusmod tempor incididunt ut labor aliqua.
                    </h4>
                </div>
                <div class="col-lg-12 col-xl-6">
                    <div class="mil-adaptive-right">
                        <a href="#." class="mil-button mil-border mil-mr-15 mil-mb-30"
                        ><span>Talk To an Expert</span></a
                        >
                        <a href="#." class="mil-button-with-label mil-mb-60">
                            <div class="mil-button mil-border mil-icon-button">
                                <span><i class="fas fa-play"></i></span>
                            </div>
                            <span class="mil-dark">Watch Video</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- call to action end -->

    <!-- about -->
    <section class="mil-deep-bg mil-p-120-60">
        <div class="mil-deco" style="top: 0; left: 35%"></div>
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-5 mil-mb-60">
                    <div class="mil-circle-illustration">
                        <div class="mil-circle-bg"></div>
                        <div class="mil-image-frame">
                            <img src="{% static 'img/faces/t3.png' %}" alt="img"/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <span class="mil-suptitle mil-suptitle-2 mil-mb-30">Firm Overview</span>
                    <h2 class="mil-mb-50">
                        We Specialize in <br/><span class="mil-accent"
                    >Transforming Your Idea</span
                    >
                        or Business in The Current<br/>
                        Digital Era.
                    </h2>

                    <p class="mil-mb-50">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum
                        suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                        lacus vel facilisis.
                    </p>

                    <div class="row align-items-end">
                        <div class="col-xl-7">
                            <ul class="mil-check-icon-list mil-mb-60">
                                <li>
                                    <img src="{% static 'img/icons/sm/12.svg' %}" alt="icon"/>
                                    <span class="mil-dark">Quis suspendisse ultrices gravida.</span>
                                </li>
                                <li>
                                    <img src="{% static 'img/icons/sm/12.svg' %}" alt="icon"/>
                                    <span class="mil-dark">Consectetur adipiscing elit.</span>
                                </li>
                                <li>
                                    <img src="{% static 'img/icons/sm/12.svg' %}" alt="icon"/>
                                    <span class="mil-dark">Quis suspendisse ultrices gravida.</span>
                                </li>
                                <li>
                                    <img src="{% static 'img/icons/sm/12.svg' %}" alt="icon"/>
                                    <span class="mil-dark">Consectetur adipiscing elit.</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xl-5">
                            <a href="team-single.html" class="mil-post-sm mil-mb-60">
                                <div class="mil-cover-frame">
                                    <img src="{% static 'img/faces/1.jpg' %}" alt="cover"/>
                                </div>
                                <div class="mil-description">
                                    <h4 class="mil-font-3 mil-accent">Jane Meldrum</h4>
                                    <p class="mil-text-sm">CEO & Co-Founder</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about end -->

    <!-- counters -->
    <section class="mil-p-120-60">
        <div class="mil-deco" style="top: 0; left: 25%"></div>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="mil-h1">8<span class="mil-accent">+</span></div>
                    <h6 class="mil-mb-60">Years Experience</h6>

                    <h2 class="mil-mb-60">
                        We Run All Kinds of IT Services That Vow Your Success
                    </h2>
                </div>
                <div class="col-lg-6">
                    <h3 class="mil-mb-60">
                        Accelerate <span class="mil-accent">Innovation</span> with world class
                        tech teams We’ll match you to an entire
                        <span class="mil-accent">Remote Technology</span>
                    </h3>

                    <div class="row">
                        <div class="col-lg-6">
                            <h6 class="mil-mb-30">
                                <span class="mil-accent">16+</span>&nbsp; Software Development
                            </h6>

                            <div class="mil-divider mil-divider-left mil-mb-60"></div>
                        </div>
                        <div class="col-lg-6">
                            <h6 class="mil-mb-30">
                                <span class="mil-accent">3+</span>&nbsp; Years Client Engagement
                            </h6>

                            <div class="mil-divider mil-divider-left mil-mb-60"></div>
                        </div>
                        <div class="col-lg-6">
                            <h6 class="mil-mb-30">
                                <span class="mil-accent">360+</span>&nbsp; App Development
                            </h6>

                            <div class="mil-divider mil-divider-left mil-mb-60"></div>
                        </div>
                        <div class="col-lg-6">
                            <h6 class="mil-mb-30">
                                <span class="mil-accent">520+</span>&nbsp; Web Development
                            </h6>

                            <div class="mil-divider mil-divider-left mil-mb-60"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- counters end -->

    <div class="container">
        <div class="mil-divider"></div>
    </div>

    <!-- partners -->
    <div class="mil-partners mil-p-120-90">
        <div class="container">
            <div class="mil-partners-frame">
                <a href="#."
                ><img src="{% static 'img/partners/1.png' %}" alt="partner"
                /></a>
                <a href="#."
                ><img src="{% static 'img/partners/2.png' %}" alt="partner"
                /></a>
                <a href="#."
                ><img src="{% static 'img/partners/3.png' %}" alt="partner"
                /></a>
                <a href="#."
                ><img src="{% static 'img/partners/4.png' %}" alt="partner"
                /></a>
                <a href="#."
                ><img src="{% static 'img/partners/5.png' %}" alt="partner"
                /></a>
                <a href="#."
                ><img src="{% static 'img/partners/6.png' %}" alt="partner"
                /></a>
            </div>
        </div>
    </div>
    <!-- partners end -->

    <!-- about -->
    <section class="mil-deep-bg mil-p-120-60">
        <div class="mil-deco" style="top: 0; right: 15%"></div>
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-5 mil-mb-60">
                    <div class="mil-circle-illustration">
                        <div class="mil-circle-bg"></div>
                        <div class="mil-image-frame">
                            <img src="{% static 'img/faces/t2.png' %}" alt="img"/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mil-mb-60">
                    <span class="mil-suptitle mil-suptitle-2 mil-mb-30">IT Enterprise</span>
                    <h2 class="mil-mb-50">Our Mission</h2>

                    <p class="mil-mb-50">
                        Many desktop publishing packages and web page editors now use Lorem
                        Ipsum as their default model text, and a search for 'lorem ipsum' will
                        uncover many web sites still in their infancy. Various versions have
                        evolved over the years, sometimes by accident, sometimes on purpose.
                        There are many variations of passages majority.
                    </p>

                    <ul class="mil-simple-list">
                        <li>Accelerate innovation.</li>
                        <li>With world class tech teams.</li>
                        <li>Our all service offerings to enhance.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- about end -->

    <!-- features -->
    <section class="mil-p-120-120">
        <div class="container">
    <span class="mil-suptitle mil-suptitle-2 mil-mb-30"
    >Discover Our Company</span
    >
            <h2 class="mil-mb-120">Why Work With Us</h2>

            <div class="mil-divider"></div>
            <div class="mil-line-icon-box">
                <div class="row align-items-center">
                    <div class="col-xl-2">
                        <div class="mil-icon-frame mil-icon-frame-md mil-mb-30">
                            <img src="{% static 'img/icons/md/6.svg' %}" alt="icon"/>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <h4 class="mil-mb-30">Top Expertise</h4>
                    </div>
                    <div class="col-xl-6">
                        <p class="mil-box-text mil-mb-30">
                            Et iusto odio dignissim qui blandit praesent luptatum zzril delenit.
                            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
                            molestie consequat, vel illum dolore eu feugiat nulla facilisis at
                            vero eros et accumsan.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mil-divider"></div>
            <div class="mil-line-icon-box">
                <div class="row align-items-center">
                    <div class="col-xl-2">
                        <div class="mil-icon-frame mil-icon-frame-md mil-mb-30">
                            <img src="{% static 'img/icons/md/10.svg' %}" alt="icon"/>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <h4 class="mil-mb-30">Quality Management</h4>
                    </div>
                    <div class="col-xl-6">
                        <p class="mil-box-text mil-mb-30">
                            Facilisis at vero eros et accumsan et iusto odio dignissim. Duis
                            autem vel eum iriure dolor in hendrerit in vulputate velit esse
                            molestie consequat, vel illum dolore eu feugiat nulla qui blandit
                            praesent luptatum zzril delenit.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mil-divider"></div>
            <div class="mil-line-icon-box">
                <div class="row align-items-center">
                    <div class="col-xl-2">
                        <div class="mil-icon-frame mil-icon-frame-md mil-mb-30">
                            <img src="{% static 'img/icons/md/2.svg' %}" alt="icon"/>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <h4 class="mil-mb-30">Utmost Flexibility</h4>
                    </div>
                    <div class="col-xl-6">
                        <p class="mil-box-text mil-mb-30">
                            Dolore eu feugiat nulla facilisis at. Quis autem vel eum iriure
                            dolor in hendrerit in vulputate velit esse molestie consequat, vel
                            illum vero eros et accumsan et iusto odio dignissim qui blandit
                            praesent luptatum zzril delenit.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mil-divider"></div>
            <div class="mil-line-icon-box">
                <div class="row align-items-center">
                    <div class="col-xl-2">
                        <div class="mil-icon-frame mil-icon-frame-md mil-mb-30">
                            <img src="{% static 'img/icons/md/4.svg' %}" alt="icon"/>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <h4 class="mil-mb-30">Agility</h4>
                    </div>
                    <div class="col-xl-6">
                        <p class="mil-box-text mil-mb-30">
                            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
                            molestie consequat, vel illum dolore eu feugiat nulla facilisis at
                            vero eros et accumsan et iusto odio dignissim qui blandit praesent
                            luptatum zzril.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mil-divider"></div>
            <div class="mil-line-icon-box">
                <div class="row align-items-center">
                    <div class="col-xl-2">
                        <div class="mil-icon-frame mil-icon-frame-md mil-mb-30">
                            <img src="{% static 'img/icons/md/5.svg' %}" alt="icon"/>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <h4 class="mil-mb-30">Innovation</h4>
                    </div>
                    <div class="col-xl-6">
                        <p class="mil-box-text mil-mb-30">
                            Blandit praesent luptatum zzril. Duis autem vel eum iriure dolor in
                            hendrerit in vulputate velit esse molestie consequat, vel illum
                            dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto
                            odio dignissim qui delenit.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mil-divider"></div>
        </div>
    </section>
    <!-- features end -->

    <!-- features -->
    <section class="mil-deep-bg mil-p-120-60">
        <div class="mil-deco" style="top: 0; right: 25%"></div>
        <div class="container">
            <span class="mil-suptitle mil-suptitle-2 mil-mb-30">For Enterprise</span>
            <h2 class="mil-mb-120">
                We Live by <span class="mil-accent">Powerful</span> Values
            </h2>

            <div class="row">
                <div class="col-md-6 col-xl-4">
                    <div class="mil-icon-box-2 mil-mb-60">
                        <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
                            <img src="{% static 'img/icons/md/10.svg' %}" alt="icon"/>
                        </div>
                        <div class="mil-box-text">
                            <h4 class="mil-mb-30">We Are</h4>
                            <p class="mil-box-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="mil-icon-box-2 mil-mb-60">
                        <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
                            <img src="{% static 'img/icons/md/10.svg' %}" alt="icon"/>
                        </div>
                        <div class="mil-box-text">
                            <h4 class="mil-mb-30">We Deep Dive</h4>
                            <p class="mil-box-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="mil-icon-box-2 mil-mb-60">
                        <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
                            <img src="{% static 'img/icons/md/10.svg' %}" alt="icon"/>
                        </div>
                        <div class="mil-box-text">
                            <h4 class="mil-mb-30">We Take</h4>
                            <p class="mil-box-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="mil-icon-box-2 mil-mb-60">
                        <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
                            <img src="{% static 'img/icons/md/10.svg' %}" alt="icon"/>
                        </div>
                        <div class="mil-box-text">
                            <h4 class="mil-mb-30">We Value</h4>
                            <p class="mil-box-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="mil-icon-box-2 mil-mb-60">
                        <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
                            <img src="{% static 'img/icons/md/10.svg' %}" alt="icon"/>
                        </div>
                        <div class="mil-box-text">
                            <h4 class="mil-mb-30">We Believe</h4>
                            <p class="mil-box-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="mil-icon-box-2 mil-mb-60">
                        <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
                            <img src="{% static 'img/icons/md/10.svg' %}" alt="icon"/>
                        </div>
                        <div class="mil-box-text">
                            <h4 class="mil-mb-30">We Say “We”</h4>
                            <p class="mil-box-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- features end -->

    <!-- contact -->
    <section class="mil-contact mil-gradient-bg mil-p-120-0">
        <div class="mil-deco mil-deco-accent" style="top: 0; right: 10%"></div>
        <div class="container">
            <h2 class="mil-light mil-mb-90">
                Contact <span class="mil-accent">Me</span>
            </h2>
            <form>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mil-input-frame mil-mb-30">
                            <label
                            ><span class="mil-light">Name</span
                            ><span class="mil-accent">Required</span></label
                            >
                            <input type="text" placeholder="Enter Your Name Here"/>
                        </div>
                        <div class="mil-input-frame mil-mb-30">
                            <label
                            ><span class="mil-light">Email Adress</span
                            ><span class="mil-accent">Required</span></label
                            >
                            <input type="email" id="email" placeholder="Your Email"/>
                        </div>
                        <div class="mil-input-frame mil-mb-60">
                            <label
                            ><span class="mil-light">Phone</span
                            ><span class="mil-light-soft">Optional</span></label
                            >
                            <input type="number" placeholder="Your Phone"/>
                        </div>
                        <div class="mil-attach-frame mil-mb-60">
                            <i class="fas fa-paperclip"></i>
                            <label class="mil-custom-file-input">
                                <span>Attach your file</span>
                                <input type="file" id="mil-file-input"/>
                            </label>
                            <p class="mil-text-sm mil-light-soft">up to 20MB</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mil-input-frame mil-mb-30">
                            <label
                            ><span class="mil-light">Email Adress</span
                            ><span class="mil-accent">Required</span></label
                            >
                            <textarea placeholder="Your Message"></textarea>
                        </div>
                        <p class="mil-text-sm mil-light-soft mil-mb-15">
                            We will process your personal information in accordance with our
                            Privacy Policy.
                        </p>

                        <div class="mil-checbox-frame mil-mb-60">
                            <input
                                    class="mil-checkbox"
                                    id="checkbox-1"
                                    type="checkbox"
                                    value="value"
                            />
                            <label for="checkbox-1" class="mil-text-sm mil-light"
                            >I would like to be contacted with news and updates about your
                                <a href="#." class="mil-accent">events and services</a></label
                            >
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="mil-button mil-accent-bg mil-fw">
                            <span>Send Message Now</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- contact end -->
{% endblock %}
