{% extends 'base.html' %} {% load static %} {% block content %}
{% block navClassList %} mil-top-panel {% endblock %}
<!-- banner -->
<div class="mil-banner-sm-3">
  <img
    src="{% static 'img/photo/13.jpg' %}"
    class="mil-background-image"
    style="object-position: center"
    data-swiper-parallax="-100"
    data-swiper-parallax-scale="1.1"
    alt="image"
  />
  <div class="mil-overlay"></div>
  <div class="mil-banner-content">
    <div class="container mil-relative">
      <div class="row justify-content-between">
        <div class="col-xl-6">
          <span class="mil-suptitle mil-light mil-suptitle-2 mil-mb-30"
            >Our Latest News</span
          >
          <h2 class="mil-light mil-mb-60">
            Technical <span class="mil-accent">Controls</span> To Stop Social
            Engineering
          </h2>

          <ul class="mil-simple-list mil-mb-50">
            <li><span class="mil-light">Thursday, Jul. 20, 2023</span></li>
            <li><span class="mil-light">2:00 pm ET - 11:00 am PT</span></li>
          </ul>

          <p class="mil-light-soft mil-mb-120">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
            ipsum suspendisse ultrices gravida risus commodo viverra maecenas.
          </p>
        </div>
        <div class="col-xl-5 mil-relative">
          <form class="mil-event-form">
            <h4 class="mil-mb-60 mil-text-center">Reserve Your Spot</h4>

            <div class="mil-input-frame mil-dark-input mil-mb-30">
              <label class="mil-h6 mil-dark"
                ><span>First Name</span
                ><span class="mil-accent">Required</span></label
              >
              <input type="text" placeholder="John" />
            </div>

            <div class="mil-input-frame mil-dark-input mil-mb-30">
              <label class="mil-h6 mil-dark"
                ><span>Last Name</span
                ><span class="mil-accent">Required</span></label
              >
              <input type="text" placeholder="Doe" />
            </div>

            <div class="mil-input-frame mil-dark-input mil-mb-30">
              <label class="mil-h6 mil-dark"
                ><span>Company Name</span
                ><span class="mil-dark-soft">Optional</span></label
              >
              <input type="text" placeholder="Agency Designs Inc." />
            </div>

            <div class="mil-input-frame mil-dark-input mil-mb-30">
              <label class="mil-h6 mil-dark"
                ><span>Email Address</span
                ><span class="mil-accent">Required</span></label
              >
              <input type="email" placeholder="email@mydomain.com" />
            </div>

            <p class="mil-text-sm mil-mb-30">
              Duis autem vel eum iriure dolor in hendrerit in vulputate velit
              esse molestie consequat, vel illum dolore eu feugiat nulla
              facilisis at vero eros et accumsan et iusto odio dignissim qui
              blandit praesent luptatum zzril delenit augue duis dolore te
              feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend
              option congue nihil imperdiet doming id quod mazim placerat facer
              possim assum.
            </p>

            <div class="mil-checbox-frame mil-dark-input mil-mb-30">
              <input
                class="mil-checkbox"
                id="checkbox-1"
                type="checkbox"
                value="value"
              />
              <label for="checkbox-1" class="mil-text-sm"
                >I agree to receive other communications from
                <span class="mil-accent">ITSulu.</span></label
              >
            </div>

            <p class="mil-text-sm mil-mb-30">
              Duis autem vel eum iriure dolor in hendrerit in vulputate velit
              esse molestie consequat, vel illum dolore eu feugiat nulla
              facilisis at vero eros et accumsan et iusto odio dignissim qui
              blandit praesent luptatum zzril delenit augue duis dolore te
              feugait nulla facilisi.
            </p>

            <a href="contact.html" class="mil-button mil-border mil-fw"
              ><span>Submit Now</span></a
            >
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mil-banner-panel">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <h6>
          Digital <span class="mil-accent">Transformation</span> Services & Why
          It Matters Webinar
        </h6>
      </div>
    </div>
  </div>
</div>
<!-- banner end -->

<!-- description -->
<section class="mil-p-120-120">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <p class="mil-mb-60">
          Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
          molestie consequat, vel illum dolore eu feugiat nulla facilisis at
          vero eros et accumsan et iusto odio dignissim qui blandit praesent
          luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
          Nam liber tempor cum soluta nobis eleifend option congue nihil
          imperdiet doming id quod mazim placerat facer possim assum.
        </p>

        <h4 class="mil-mb-60">In This Session, We'll Talk About:</h4>

        <ul class="mil-check-icon-list mil-mb-60">
          <li class="mil-mb-30">
            <img src="{% static 'img/icons/sm/12.svg' %}" alt="icon" />
            <span class="mil-dark">New Multichannel TTPs</span>
          </li>
          <li class="mil-mb-30">
            <img src="{% static 'img/icons/sm/12.svg' %}" alt="icon" />
            <span class="mil-dark"
              >The role of Natural Language Understanding</span
            >
          </li>
          <li class="mil-mb-30">
            <img src="{% static 'img/icons/sm/12.svg' %}" alt="icon" />
            <span class="mil-dark"
              >Augmenting Security Training with Defensive Layers</span
            >
          </li>
          <li>
            <img src="{% static 'img/icons/sm/12.svg' %}" alt="icon" />
            <span class="mil-dark"
              >Contextual Analysis of Inbound and Outbound Messaging</span
            >
          </li>
        </ul>

        <div class="mil-divider mil-mb-60"></div>

        <h4 class="mil-mb-60">Speakers:</h4>

        <div class="row mil-mb-30">
          <div class="col-xl-6">
            <a
              href="team-single.html"
              class="mil-post-sm mil-top-text mil-mb-30"
            >
              <div class="mil-cover-frame">
                <img src="{% static 'img/faces/2.jpg' %}" alt="cover" />
              </div>
              <div class="mil-description">
                <h5 class="mil-mb-10">Jane Meldrum</h5>
                <p class="mil-text-sm">
                  VP, Research Director <br />ITSulu Agent
                </p>
              </div>
            </a>
          </div>
          <div class="col-xl-6">
            <a
              href="team-single.html"
              class="mil-post-sm mil-top-text mil-mb-30"
            >
              <div class="mil-cover-frame">
                <img src="{% static 'img/faces/3.jpg' %}" alt="cover" />
              </div>
              <div class="mil-description">
                <h5 class="mil-mb-10">Jane Meldrum</h5>
                <p class="mil-text-sm">
                  VP, Research Director <br />ITSulu Agent
                </p>
              </div>
            </a>
          </div>
          <div class="col-xl-6">
            <a
              href="team-single.html"
              class="mil-post-sm mil-top-text mil-mb-30"
            >
              <div class="mil-cover-frame">
                <img src="{% static 'img/faces/4.jpg' %}" alt="cover" />
              </div>
              <div class="mil-description">
                <h5 class="mil-mb-10">Jane Meldrum</h5>
                <p class="mil-text-sm">
                  VP, Research Director <br />ITSulu Agent
                </p>
              </div>
            </a>
          </div>
        </div>

        <div class="mil-divider mil-mb-60"></div>

        <h4 class="mil-mb-60">Recommended Resources:</h4>

        <div class="row mil-mb-60">
          <div class="col-lg-3">
            <p class="mil-dark mil-mt-15 mil-mb-30">Podcast:</p>
          </div>
          <div class="col-lg-9">
            <ul class="mil-rec-res">
              <li class="mil-dark">
                <a href="#."
                  ><span>Big Data and Designs Tallks with Experts</span
                  ><i class="fas fa-arrow-right"></i
                ></a>
              </li>
              <li class="mil-dark">
                <a href="#."
                  ><span>Best Way to Learn New Skills is by Maria Perez</span
                  ><i class="fas fa-arrow-right"></i
                ></a>
              </li>
              <li class="mil-dark">
                <a href="#."
                  ><span>Ask the Expert About Business Startups and Ideas</span
                  ><i class="fas fa-arrow-right"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>

        <div class="row mil-mb-60">
          <div class="col-lg-3">
            <p class="mil-dark mil-mt-15 mil-mb-30">Blog:</p>
          </div>
          <div class="col-lg-9">
            <ul class="mil-rec-res">
              <li class="mil-dark">
                <a href="#."
                  ><span>Career Programmer Webinar with Roy Walker</span
                  ><i class="fas fa-arrow-right"></i
                ></a>
              </li>
              <li class="mil-dark">
                <a href="#."
                  ><span>How to Differentiate Between Business</span
                  ><i class="fas fa-arrow-right"></i
                ></a>
              </li>
              <li class="mil-dark">
                <a href="#."
                  ><span>Code and Hacking, Live Online Lessons & eLearning</span
                  ><i class="fas fa-arrow-right"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3">
            <p class="mil-dark mil-mt-15 mil-mb-30">Courses:</p>
          </div>
          <div class="col-lg-9">
            <ul class="mil-rec-res">
              <li class="mil-dark">
                <a href="#."
                  ><span>Communication Skills Master Class for Code</span
                  ><i class="fas fa-arrow-right"></i
                ></a>
              </li>
              <li class="mil-dark">
                <a href="#."
                  ><span>The Best Online Professional Hacking</span
                  ><i class="fas fa-arrow-right"></i
                ></a>
              </li>
              <li class="mil-dark">
                <a href="#."
                  ><span>Microsoft Access Master Class, From Beginner</span
                  ><i class="fas fa-arrow-right"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- description end -->
{% endblock %}