{% extends 'base.html' %} {% load static %} {% block content %}
{% block navClassList %} mil-top-panel {% endblock %}
<!-- banner -->
<div class="mil-banner-sm mil-deep-bg">
  <img
    src="{% static 'img/deco/map.png' %}"
    alt="background"
    class="mil-background-image"
  />
  <div
    class="mil-deco mil-deco-accent"
    style="top: 47%; right: 10%; transform: rotate(90deg)"
  ></div>
  <div class="mil-banner-content">
    <div class="container mil-relative">
      <ul class="mil-breadcrumbs mil-mb-30">
        <li><a href="home-1.html">Home</a></li>
        <li><a href="faq.html">FAQs</a></li>
      </ul>
      <h2 class="mil-uppercase">FAQS</h2>
    </div>
  </div>
</div>
<!-- banner end -->

<!-- faq -->
<section class="mil-faqs mil-p-0-120">
  <div
    class="mil-deco"
    style="bottom: 0; left: 10%; transform: rotate(180deg)"
  ></div>
  <div class="container">
    <div class="mil-tabs">
      <input type="radio" name="tabs" id="tab1" checked="checked" />
      <label for="tab1">Information</label>
      <div class="mil-tab">
        <div class="row justify-content-between">
          <div class="col-lg-4">
            <h3 class="mil-up-font mil-mb-30">
              <span class="mil-accent">ITSulu Connects</span> The Entire
              Organization From End To End.
            </h3>
            <p class="mil-mb-60">
              Typi non habent claritatem insitam; est usus legentis in iis qui
              facit eorum claritatem. Investigationes demonstraverunt lectores
              legere me lius quod ii legunt saepius.
            </p>
          </div>
          <div class="col-lg-7">
            <div class="mil-accordion">
              <h6>Information about ITSulu</h6>
            </div>
            <div class="mil-panel">
              <div class="mil-window">
                <p>
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in some
                  form, by injected humour, or randomised words which don't look
                  even slightly believable. If you are going to use a passage of
                  Lorem Ipsum, you need to be sure there isn't anything
                  embarrassing hidden in the middle of text. All the Lorem Ipsum
                  generators on the Internet tend to repeat predefined chunks as
                  necessary, making this the first true generator on the
                  Internet. It uses a dictionary of over 200 Latin words,
                  combined with a handful of model sentence structures.
                </p>
              </div>
            </div>

            <div class="mil-accordion">
              <h6>What are the benefits of using ITSulu?</h6>
            </div>
            <div class="mil-panel">
              <div class="mil-window">
                <p>
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in some
                  form, by injected humour, or randomised words which don't look
                  even slightly believable. If you are going to use a passage of
                  Lorem Ipsum, you need to be sure there isn't anything
                  embarrassing hidden in the middle of text. All the Lorem Ipsum
                  generators on the Internet tend to repeat predefined chunks as
                  necessary, making this the first true generator on the
                  Internet. It uses a dictionary of over 200 Latin words,
                  combined with a handful of model sentence structures.
                </p>
              </div>
            </div>

            <div class="mil-accordion">
              <h6>How much does ITSulu cost?</h6>
            </div>
            <div class="mil-panel">
              <div class="mil-window">
                <p>
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in some
                  form, by injected humour, or randomised words which don't look
                  even slightly believable. If you are going to use a passage of
                  Lorem Ipsum, you need to be sure there isn't anything
                  embarrassing hidden in the middle of text. All the Lorem Ipsum
                  generators on the Internet tend to repeat predefined chunks as
                  necessary, making this the first true generator on the
                  Internet. It uses a dictionary of over 200 Latin words,
                  combined with a handful of model sentence structures.
                </p>
              </div>
            </div>

            <div class="mil-accordion">
              <h6>Who owns the information created by staff?</h6>
            </div>
            <div class="mil-panel">
              <div class="mil-window">
                <p>
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in some
                  form, by injected humour, or randomised words which don't look
                  even slightly believable. If you are going to use a passage of
                  Lorem Ipsum, you need to be sure there isn't anything
                  embarrassing hidden in the middle of text. All the Lorem Ipsum
                  generators on the Internet tend to repeat predefined chunks as
                  necessary, making this the first true generator on the
                  Internet. It uses a dictionary of over 200 Latin words,
                  combined with a handful of model sentence structures.
                </p>
              </div>
            </div>

            <div class="mil-accordion">
              <h6>How do I delete my account?</h6>
            </div>
            <div class="mil-panel">
              <div class="mil-window">
                <p>
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in some
                  form, by injected humour, or randomised words which don't look
                  even slightly believable. If you are going to use a passage of
                  Lorem Ipsum, you need to be sure there isn't anything
                  embarrassing hidden in the middle of text. All the Lorem Ipsum
                  generators on the Internet tend to repeat predefined chunks as
                  necessary, making this the first true generator on the
                  Internet. It uses a dictionary of over 200 Latin words,
                  combined with a handful of model sentence structures.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <input type="radio" name="tabs" id="tab2" />
      <label for="tab2">Pricing Plans</label>
      <div class="mil-tab">
        <div class="row justify-content-between">
          <div class="col-lg-4">
            <h3 class="mil-up-font mil-mb-30">
              <span class="mil-accent">Lorem ipsum</span> dolor sit amet,
              consectetur adipisicing elit.
            </h3>
            <p class="mil-mb-60">
              Typi non habent claritatem insitam; est usus legentis in iis qui
              facit eorum claritatem. Investigationes demonstraverunt lectores
              legere me lius quod ii legunt saepius.
            </p>
          </div>
          <div class="col-lg-7">
            <div class="mil-accordion">
              <h6>How much does ITSulu cost?</h6>
            </div>
            <div class="mil-panel">
              <div class="mil-window">
                <p>
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in some
                  form, by injected humour, or randomised words which don't look
                  even slightly believable. If you are going to use a passage of
                  Lorem Ipsum, you need to be sure there isn't anything
                  embarrassing hidden in the middle of text. All the Lorem Ipsum
                  generators on the Internet tend to repeat predefined chunks as
                  necessary, making this the first true generator on the
                  Internet. It uses a dictionary of over 200 Latin words,
                  combined with a handful of model sentence structures.
                </p>
              </div>
            </div>

            <div class="mil-accordion">
              <h6>What are the benefits of using ITSulu?</h6>
            </div>
            <div class="mil-panel">
              <div class="mil-window">
                <p>
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in some
                  form, by injected humour, or randomised words which don't look
                  even slightly believable. If you are going to use a passage of
                  Lorem Ipsum, you need to be sure there isn't anything
                  embarrassing hidden in the middle of text. All the Lorem Ipsum
                  generators on the Internet tend to repeat predefined chunks as
                  necessary, making this the first true generator on the
                  Internet. It uses a dictionary of over 200 Latin words,
                  combined with a handful of model sentence structures.
                </p>
              </div>
            </div>

            <div class="mil-accordion">
              <h6>Information about ITSulu</h6>
            </div>
            <div class="mil-panel">
              <div class="mil-window">
                <p>
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in some
                  form, by injected humour, or randomised words which don't look
                  even slightly believable. If you are going to use a passage of
                  Lorem Ipsum, you need to be sure there isn't anything
                  embarrassing hidden in the middle of text. All the Lorem Ipsum
                  generators on the Internet tend to repeat predefined chunks as
                  necessary, making this the first true generator on the
                  Internet. It uses a dictionary of over 200 Latin words,
                  combined with a handful of model sentence structures.
                </p>
              </div>
            </div>

            <div class="mil-accordion">
              <h6>Lorem Ipsum, you need to be sure there</h6>
            </div>
            <div class="mil-panel">
              <div class="mil-window">
                <p>
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in some
                  form, by injected humour, or randomised words which don't look
                  even slightly believable. If you are going to use a passage of
                  Lorem Ipsum, you need to be sure there isn't anything
                  embarrassing hidden in the middle of text. All the Lorem Ipsum
                  generators on the Internet tend to repeat predefined chunks as
                  necessary, making this the first true generator on the
                  Internet. It uses a dictionary of over 200 Latin words,
                  combined with a handful of model sentence structures.
                </p>
              </div>
            </div>

            <div class="mil-accordion">
              <h6>How do I delete my account?</h6>
            </div>
            <div class="mil-panel">
              <div class="mil-window">
                <p>
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in some
                  form, by injected humour, or randomised words which don't look
                  even slightly believable. If you are going to use a passage of
                  Lorem Ipsum, you need to be sure there isn't anything
                  embarrassing hidden in the middle of text. All the Lorem Ipsum
                  generators on the Internet tend to repeat predefined chunks as
                  necessary, making this the first true generator on the
                  Internet. It uses a dictionary of over 200 Latin words,
                  combined with a handful of model sentence structures.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <input type="radio" name="tabs" id="tab3" />
      <label for="tab3">Data and Privacy</label>
      <div class="mil-tab">
        <div class="row justify-content-between">
          <div class="col-lg-4">
            <h3 class="mil-up-font mil-mb-30">
              <span class="mil-accent">Lorem Ipsum</span> available, but the
              majority have suffered
            </h3>
            <p class="mil-mb-60">
              Typi non habent claritatem insitam; est usus legentis in iis qui
              facit eorum claritatem.
            </p>
          </div>
          <div class="col-lg-7">
            <div class="mil-accordion">
              <h6>What are the benefits of using ITSulu?</h6>
            </div>
            <div class="mil-panel">
              <div class="mil-window">
                <p>
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in some
                  form, by injected humour, or randomised words which don't look
                  even slightly believable. If you are going to use a passage of
                  Lorem Ipsum, you need to be sure there isn't anything
                  embarrassing hidden in the middle of text. All the Lorem Ipsum
                  generators on the Internet tend to repeat predefined chunks as
                  necessary, making this the first true generator on the
                  Internet. It uses a dictionary of over 200 Latin words,
                  combined with a handful of model sentence structures.
                </p>
              </div>
            </div>

            <div class="mil-accordion">
              <h6>Who owns the information created by staff?</h6>
            </div>
            <div class="mil-panel">
              <div class="mil-window">
                <p>
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in some
                  form, by injected humour, or randomised words which don't look
                  even slightly believable. If you are going to use a passage of
                  Lorem Ipsum, you need to be sure there isn't anything
                  embarrassing hidden in the middle of text. All the Lorem Ipsum
                  generators on the Internet tend to repeat predefined chunks as
                  necessary, making this the first true generator on the
                  Internet. It uses a dictionary of over 200 Latin words,
                  combined with a handful of model sentence structures.
                </p>
              </div>
            </div>

            <div class="mil-accordion">
              <h6>How much does ITSulu cost?</h6>
            </div>
            <div class="mil-panel">
              <div class="mil-window">
                <p>
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in some
                  form, by injected humour, or randomised words which don't look
                  even slightly believable. If you are going to use a passage of
                  Lorem Ipsum, you need to be sure there isn't anything
                  embarrassing hidden in the middle of text. All the Lorem Ipsum
                  generators on the Internet tend to repeat predefined chunks as
                  necessary, making this the first true generator on the
                  Internet. It uses a dictionary of over 200 Latin words,
                  combined with a handful of model sentence structures.
                </p>
              </div>
            </div>

            <div class="mil-accordion">
              <h6>How do I delete my account?</h6>
            </div>
            <div class="mil-panel">
              <div class="mil-window">
                <p>
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in some
                  form, by injected humour, or randomised words which don't look
                  even slightly believable. If you are going to use a passage of
                  Lorem Ipsum, you need to be sure there isn't anything
                  embarrassing hidden in the middle of text. All the Lorem Ipsum
                  generators on the Internet tend to repeat predefined chunks as
                  necessary, making this the first true generator on the
                  Internet. It uses a dictionary of over 200 Latin words,
                  combined with a handful of model sentence structures.
                </p>
              </div>
            </div>

            <div class="mil-accordion">
              <h6>Information about ITSulu</h6>
            </div>
            <div class="mil-panel">
              <div class="mil-window">
                <p>
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in some
                  form, by injected humour, or randomised words which don't look
                  even slightly believable. If you are going to use a passage of
                  Lorem Ipsum, you need to be sure there isn't anything
                  embarrassing hidden in the middle of text. All the Lorem Ipsum
                  generators on the Internet tend to repeat predefined chunks as
                  necessary, making this the first true generator on the
                  Internet. It uses a dictionary of over 200 Latin words,
                  combined with a handful of model sentence structures.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <input type="radio" name="tabs" id="tab4" />
      <label for="tab4">Security</label>
      <div class="mil-tab">
        <div class="row justify-content-between">
          <div class="col-lg-4">
            <h3 class="mil-up-font mil-mb-30">
              <span class="mil-accent">Aliquam aut natus</span> perspiciatis
              corporis sunt alias cumques.
            </h3>
            <p class="mil-mb-60">
              Typi non habent claritatem insitam; est usus legentis in iis qui
              facit eorum claritatem.
            </p>
          </div>
          <div class="col-lg-7">
            <div class="mil-accordion">
              <h6>Information about ITSulu</h6>
            </div>
            <div class="mil-panel">
              <div class="mil-window">
                <p>
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in some
                  form, by injected humour, or randomised words which don't look
                  even slightly believable. If you are going to use a passage of
                  Lorem Ipsum, you need to be sure there isn't anything
                  embarrassing hidden in the middle of text. All the Lorem Ipsum
                  generators on the Internet tend to repeat predefined chunks as
                  necessary, making this the first true generator on the
                  Internet. It uses a dictionary of over 200 Latin words,
                  combined with a handful of model sentence structures.
                </p>
              </div>
            </div>

            <div class="mil-accordion">
              <h6>What are the benefits of using ITSulu?</h6>
            </div>
            <div class="mil-panel">
              <div class="mil-window">
                <p>
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in some
                  form, by injected humour, or randomised words which don't look
                  even slightly believable. If you are going to use a passage of
                  Lorem Ipsum, you need to be sure there isn't anything
                  embarrassing hidden in the middle of text. All the Lorem Ipsum
                  generators on the Internet tend to repeat predefined chunks as
                  necessary, making this the first true generator on the
                  Internet. It uses a dictionary of over 200 Latin words,
                  combined with a handful of model sentence structures.
                </p>
              </div>
            </div>

            <div class="mil-accordion">
              <h6>How much does ITSulu cost?</h6>
            </div>
            <div class="mil-panel">
              <div class="mil-window">
                <p>
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in some
                  form, by injected humour, or randomised words which don't look
                  even slightly believable. If you are going to use a passage of
                  Lorem Ipsum, you need to be sure there isn't anything
                  embarrassing hidden in the middle of text. All the Lorem Ipsum
                  generators on the Internet tend to repeat predefined chunks as
                  necessary, making this the first true generator on the
                  Internet. It uses a dictionary of over 200 Latin words,
                  combined with a handful of model sentence structures.
                </p>
              </div>
            </div>

            <div class="mil-accordion">
              <h6>Who owns the information created by staff?</h6>
            </div>
            <div class="mil-panel">
              <div class="mil-window">
                <p>
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in some
                  form, by injected humour, or randomised words which don't look
                  even slightly believable. If you are going to use a passage of
                  Lorem Ipsum, you need to be sure there isn't anything
                  embarrassing hidden in the middle of text. All the Lorem Ipsum
                  generators on the Internet tend to repeat predefined chunks as
                  necessary, making this the first true generator on the
                  Internet. It uses a dictionary of over 200 Latin words,
                  combined with a handful of model sentence structures.
                </p>
              </div>
            </div>

            <div class="mil-accordion">
              <h6>How do I delete my account?</h6>
            </div>
            <div class="mil-panel">
              <div class="mil-window">
                <p>
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in some
                  form, by injected humour, or randomised words which don't look
                  even slightly believable. If you are going to use a passage of
                  Lorem Ipsum, you need to be sure there isn't anything
                  embarrassing hidden in the middle of text. All the Lorem Ipsum
                  generators on the Internet tend to repeat predefined chunks as
                  necessary, making this the first true generator on the
                  Internet. It uses a dictionary of over 200 Latin words,
                  combined with a handful of model sentence structures.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- faq end -->

<!-- contact -->
<section class="mil-contact mil-gradient-bg mil-p-120-0">
  <div class="mil-deco mil-deco-accent" style="top: 0; right: 10%"></div>
  <div class="container">
    <h2 class="mil-light mil-mb-90">
      Contact <span class="mil-accent">Me</span>
    </h2>
    <form>
      <div class="row">
        <div class="col-lg-6">
          <div class="mil-input-frame mil-mb-30">
            <label
              ><span class="mil-light">Name</span
              ><span class="mil-accent">Required</span></label
            >
            <input type="text" placeholder="Enter Your Name Here" />
          </div>
          <div class="mil-input-frame mil-mb-30">
            <label
              ><span class="mil-light">Email Adress</span
              ><span class="mil-accent">Required</span></label
            >
            <input type="email" id="email" placeholder="Your Email" />
          </div>
          <div class="mil-input-frame mil-mb-60">
            <label
              ><span class="mil-light">Phone</span
              ><span class="mil-light-soft">Optional</span></label
            >
            <input type="number" placeholder="Your Phone" />
          </div>
          <div class="mil-attach-frame mil-mb-60">
            <i class="fas fa-paperclip"></i>
            <label class="mil-custom-file-input">
              <span>Attach your file</span>
              <input type="file" id="mil-file-input" />
            </label>
            <p class="mil-text-sm mil-light-soft">up to 20MB</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="mil-input-frame mil-mb-30">
            <label
              ><span class="mil-light">Email Adress</span
              ><span class="mil-accent">Required</span></label
            >
            <textarea placeholder="Your Message"></textarea>
          </div>
          <p class="mil-text-sm mil-light-soft mil-mb-15">
            We will process your personal information in accordance with our
            Privacy Policy.
          </p>

          <div class="mil-checbox-frame mil-mb-60">
            <input
              class="mil-checkbox"
              id="checkbox-1"
              type="checkbox"
              value="value"
            />
            <label for="checkbox-1" class="mil-text-sm mil-light"
              >I would like to be contacted with news and updates about your
              <a href="#." class="mil-accent">events and services</a></label
            >
          </div>
        </div>
        <div class="col-12">
          <button class="mil-button mil-accent-bg mil-fw">
            <span>Send Message Now</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
<!-- contact end -->
{% endblock %}