{% extends 'base.html' %} {% load static %} {% block content %}
{% block navClassList %} mil-top-panel {% endblock %}
<!-- banner -->
<div class="mil-banner mil-top-space-100">
  <div class="mil-deco mil-deco-accent" style="top: 0; left: 12%"></div>
  <div class="swiper-container mil-banner-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          src="{% static 'img/photo/4.jpg' %}"
          class="mil-background-image"
          style="object-position: center"
          data-swiper-parallax-scale="1.1"
          alt="image"
        />
        <div class="mil-overlay"></div>

        <div
          class="mil-banner-content-2"
          data-swiper-parallax-y="300"
          data-swiper-parallax-duration="600"
          data-swiper-parallax-opacity="0"
        >
          <div class="container">
            <div
              class="row align-items-center justify-content-center mil-text-center"
            >
              <div class="col-xl-8">
                <span class="mil-suptitle mil-mb-60"
                  ><span class="mil-light">Our</span>
                  <span class="mil-accent">Inspiration</span></span
                >
                <h1 class="mil-mb-50">
                  <span class="mil-uppercase mil-light">The</span>
                  <span class="mil-font-3 mil-accent">Freedom</span
                  ><span class="mil-uppercase mil-light">
                    to focus on <br />
                    improving</span
                  >
                  <span class="mil-font-3 mil-accent">Your</span>
                  <span class="mil-uppercase mil-light">business or idea </span>
                </h1>
                <p class="mil-light-soft mil-mb-60">
                  Duis autem vel eum iriure dolor in hendrerit in vulputate
                  velit esse <br />
                  molestie consequat, vel illum dolore eu feugiat nulla.
                </p>
                <div class="mil-buttons-frame mil-buttons-frame-center">
                  <a href="#." class="mil-button mil-accent-bg"
                    ><span>Read More</span></a
                  >
                  <a href="#." class="mil-button-with-label">
                    <div
                      class="mil-button mil-border mil-icon-button mil-light"
                    >
                      <span><i class="fas fa-play"></i></span>
                    </div>
                    <span class="mil-light">Watch Video</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <img
          src="{% static 'img/photo/5.jpg' %}"
          class="mil-background-image"
          style="object-position: bottom"
          data-swiper-parallax-scale="1.1"
          alt="image"
        />
        <div class="mil-overlay"></div>

        <div
          class="mil-banner-content-2"
          data-swiper-parallax-y="300"
          data-swiper-parallax-duration="600"
          data-swiper-parallax-opacity="0"
          data-swiper-parallax-delay="2000"
        >
          <div class="container">
            <div
              class="row align-items-center justify-content-center mil-text-center"
            >
              <div class="col-xl-8">
                <span class="mil-suptitle mil-mb-60"
                  ><span class="mil-light">Our</span>
                  <span class="mil-accent">Inspiration</span></span
                >
                <h1 class="mil-mb-50">
                  <span class="mil-uppercase mil-light">The</span>
                  <span class="mil-font-3 mil-accent">Freedom</span
                  ><span class="mil-uppercase mil-light">
                    to focus on <br />
                    improving</span
                  >
                  <span class="mil-font-3 mil-accent">Your</span>
                  <span class="mil-uppercase mil-light">business or idea </span>
                </h1>
                <p class="mil-light-soft mil-mb-60">
                  Duis autem vel eum iriure dolor in hendrerit in vulputate
                  velit esse <br />
                  molestie consequat, vel illum dolore eu feugiat nulla.
                </p>
                <a href="#." class="mil-button mil-accent-bg"
                  ><span>Read More</span></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <img
          src="{% static 'img/photo/6.jpg' %}"
          class="mil-background-image"
          style="object-position: center"
          data-swiper-parallax-scale="1.1"
          alt="image"
        />
        <div class="mil-overlay"></div>

        <div
          class="mil-banner-content-2"
          data-swiper-parallax-y="300"
          data-swiper-parallax-duration="600"
          data-swiper-parallax-opacity="0"
        >
          <div class="container">
            <div
              class="row align-items-center justify-content-center mil-text-center"
            >
              <div class="col-xl-8">
                <span class="mil-suptitle mil-mb-60"
                  ><span class="mil-light">Our</span>
                  <span class="mil-accent">Inspiration</span></span
                >
                <h1 class="mil-mb-50">
                  <span class="mil-uppercase mil-light">The</span>
                  <span class="mil-font-3 mil-accent">Freedom</span
                  ><span class="mil-uppercase mil-light">
                    to focus on <br />
                    improving</span
                  >
                  <span class="mil-font-3 mil-accent">Your</span>
                  <span class="mil-uppercase mil-light">business or idea </span>
                </h1>
                <p class="mil-light-soft mil-mb-60">
                  Duis autem vel eum iriure dolor in hendrerit in vulputate
                  velit esse <br />
                  molestie consequat, vel illum dolore eu feugiat nulla.
                </p>
                <div class="mil-buttons-frame mil-buttons-frame-center">
                  <a href="#." class="mil-button-with-label">
                    <div
                      class="mil-button mil-border mil-icon-button mil-light"
                    >
                      <span><i class="fas fa-play"></i></span>
                    </div>
                    <span class="mil-light">Watch Video</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mil-banner-nav">
    <div class="container">
      <div class="mil-banner-button mil-banner-prev">
        <i class="fas fa-arrow-left"></i>
      </div>
      <div class="mil-banner-button mil-banner-next">
        <i class="fas fa-arrow-right"></i>
      </div>
    </div>
  </div>
</div>
<!-- banner end -->

<!-- services -->
<section class="mil-services mil-deep-bg mil-p-120-90">
  <div class="mil-deco" style="top: 0; right: 20%"></div>
  <div class="container">
    <div class="row align-items-center mil-mb-90">
      <div class="col-md-6 col-xl-6">
        <span class="mil-suptitle mil-suptitle-2 mil-mb-30"
          >Our Services and Solutions</span
        >
        <h2>Technological Applications</h2>
      </div>
      <div class="col-md-6 col-xl-6">
        <div class="mil-adaptive-right mil-mt-60-adapt">
          <div class="mil-slider-nav">
            <div class="mil-slider-btn-prev mil-services-prev">
              <i class="fas fa-arrow-left"></i><span class="mil-h6">Prev</span>
            </div>
            <div class="mil-slider-btn-next mil-services-next">
              <span class="mil-h6">Next</span><i class="fas fa-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-container mil-services-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="mil-hover-card">
            <h4 class="mil-mb-30">Data Secuity</h4>
            <p class="mil-mb-50">
              Accelerate innovation with world class tech teams our all service.
            </p>
            <div class="mil-divider mil-divider-left mil-mb-50"></div>
            <ul class="mil-simple-list mil-mb-50">
              <li>Accelerate innovation.</li>
              <li>With world-class tech teams.</li>
              <li>Our all service offerings to enhance.</li>
              <li>Simply drag, drop and customize.</li>
            </ul>
            <a href="#." class="mil-link"
              ><span>Learn More</span><i class="fas fa-arrow-right"></i
            ></a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="mil-hover-card">
            <h4 class="mil-mb-30">SEO and Optimazation</h4>
            <p class="mil-mb-50">
              Accelerate innovation with world class tech teams our all service.
            </p>
            <div class="mil-divider mil-divider-left mil-mb-50"></div>
            <ul class="mil-simple-list mil-mb-50">
              <li>Accelerate innovation.</li>
              <li>With world-class tech teams.</li>
              <li>Our all service offerings to enhance.</li>
              <li>Simply drag, drop and customize.</li>
            </ul>
            <a href="#." class="mil-link"
              ><span>Learn More</span><i class="fas fa-arrow-right"></i
            ></a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="mil-hover-card">
            <h4 class="mil-mb-30">Analytics and Research</h4>
            <p class="mil-mb-50">
              Accelerate innovation with world class tech teams our all service.
            </p>
            <div class="mil-divider mil-divider-left mil-mb-50"></div>
            <ul class="mil-simple-list mil-mb-50">
              <li>Accelerate innovation.</li>
              <li>With world-class tech teams.</li>
              <li>Our all service offerings to enhance.</li>
              <li>Simply drag, drop and customize.</li>
            </ul>
            <a href="#." class="mil-link"
              ><span>Learn More</span><i class="fas fa-arrow-right"></i
            ></a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="mil-hover-card">
            <h4 class="mil-mb-30">IT Management Services</h4>
            <p class="mil-mb-50">
              Accelerate innovation with world class tech teams our all service.
            </p>
            <div class="mil-divider mil-divider-left mil-mb-50"></div>
            <ul class="mil-simple-list mil-mb-50">
              <li>Accelerate innovation.</li>
              <li>With world-class tech teams.</li>
              <li>Our all service offerings to enhance.</li>
              <li>Simply drag, drop and customize.</li>
            </ul>
            <a href="#." class="mil-link"
              ><span>Learn More</span><i class="fas fa-arrow-right"></i
            ></a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="mil-hover-card">
            <h4 class="mil-mb-30">Web Development</h4>
            <p class="mil-mb-50">
              Accelerate innovation with world class tech teams our all service.
            </p>
            <div class="mil-divider mil-divider-left mil-mb-50"></div>
            <ul class="mil-simple-list mil-mb-50">
              <li>Accelerate innovation.</li>
              <li>With world-class tech teams.</li>
              <li>Our all service offerings to enhance.</li>
              <li>Simply drag, drop and customize.</li>
            </ul>
            <a href="#." class="mil-link"
              ><span>Learn More</span><i class="fas fa-arrow-right"></i
            ></a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="mil-hover-card">
            <h4 class="mil-mb-30">UI/UX Design</h4>
            <p class="mil-mb-50">
              Accelerate innovation with world class tech teams our all service.
            </p>
            <div class="mil-divider mil-divider-left mil-mb-50"></div>
            <ul class="mil-simple-list mil-mb-50">
              <li>Accelerate innovation.</li>
              <li>With world-class tech teams.</li>
              <li>Our all service offerings to enhance.</li>
              <li>Simply drag, drop and customize.</li>
            </ul>
            <a href="#." class="mil-link"
              ><span>Learn More</span><i class="fas fa-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- services end -->

<!-- call to action -->
<section class="mil-call-to-action mil-p-120-120">
  <div class="mil-deco mil-deco-accent" style="top: 0; left: 12%"></div>
  <img
    src="{% static 'img/photo/7.jpg' %}"
    class="mil-background-image"
    style="object-position: center"
    alt="image"
  />
  <div class="mil-overlay"></div>
  <div class="container">
    <div class="mil-cta-content">
      <span class="mil-suptitle mil-light-soft mil-suptitle-2 mil-mb-30"
        >Our Services and Solutions</span
      >
      <h2 class="mil-h1 mil-light mil-mb-30">
        Compare <span class="mil-accent">ITSulu</span> Plans
      </h2>
      <a href="prices.html" class="mil-link"
        ><span class="mil-light">Learn More</span
        ><i class="fas fa-arrow-right"></i
      ></a>
    </div>
  </div>
</section>
<!-- call to action end -->

<!-- partners -->
<div class="mil-partners mil-p-90-60">
  <div class="container">
    <div class="mil-partners-frame">
      <a href="#."
        ><img src="{% static 'img/partners/1.png' %}" alt="partner"
      /></a>
      <a href="#."
        ><img src="{% static 'img/partners/2.png' %}" alt="partner"
      /></a>
      <a href="#."
        ><img src="{% static 'img/partners/3.png' %}" alt="partner"
      /></a>
      <a href="#."
        ><img src="{% static 'img/partners/4.png' %}" alt="partner"
      /></a>
      <a href="#."
        ><img src="{% static 'img/partners/5.png' %}" alt="partner"
      /></a>
      <a href="#."
        ><img src="{% static 'img/partners/6.png' %}" alt="partner"
      /></a>
    </div>
  </div>
</div>
<!-- partners end -->

<!-- events -->
<section class="mil-events mil-deep-bg mil-p-120-120">
  <div class="mil-deco" style="top: 0; right: 20%"></div>
  <div class="container">
    <div class="row align-items-end mil-mb-60-adapt">
      <div class="col-md-4 col-xl-4">
        <span class="mil-suptitle mil-suptitle-2 mil-mb-30"
          >We Share Knowledge</span
        >
        <h2 class="mil-mb-30">Virtual Events</h2>
      </div>
      <div class="col-md-5 col-xl-5">
        <p class="mil-mb-30">
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout.
        </p>
      </div>
      <div class="col-md-3 col-xl-3">
        <div class="mil-adaptive-right mil-mb-30">
          <div class="mil-slider-nav">
            <div class="mil-slider-btn-prev mil-events-prev">
              <i class="fas fa-arrow-left"></i><span class="mil-h6">Prev</span>
            </div>
            <div class="mil-slider-btn-next mil-events-next">
              <span class="mil-h6">Next</span><i class="fas fa-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-container mil-events-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="event.html" class="mil-card-2">
            <div class="mil-cover-frame">
              <img src="{% static 'img/projects/1.jpg' %}" alt="project" />
            </div>
            <div class="mil-description">
              <ul class="mil-speakers">
                <li class="mil-speaker">
                  <img src="{% static 'img/faces/1.jpg' %}" alt="speaker" />
                </li>
                <li class="mil-speaker">
                  <img src="{% static 'img/faces/2.jpg' %}" alt="speaker" />
                </li>
                <li class="mil-speaker">
                  <img src="{% static 'img/faces/3.jpg' %}" alt="speaker" />
                </li>
              </ul>
              <div class="mil-card-title">
                <p class="mil-category mil-text-sm mil-mb-15">Data Security</p>
                <h4>Development for the next era of the Internet economy</h4>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="event.html" class="mil-card-2">
            <div class="mil-cover-frame">
              <img src="{% static 'img/projects/2.jpg' %}" alt="project" />
            </div>
            <div class="mil-description">
              <ul class="mil-speakers">
                <li class="mil-speaker">
                  <img src="{% static 'img/faces/1.jpg' %}" alt="speaker" />
                </li>
                <li class="mil-speaker">
                  <img src="{% static 'img/faces/3.jpg' %}" alt="speaker" />
                </li>
              </ul>
              <div class="mil-card-title">
                <p class="mil-category mil-text-sm mil-mb-15">Data Security</p>
                <h4>Development for the next era of the Internet economy</h4>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="event.html" class="mil-card-2">
            <div class="mil-cover-frame">
              <img src="{% static 'img/projects/3.jpg' %}" alt="project" />
            </div>
            <div class="mil-description">
              <ul class="mil-speakers">
                <li class="mil-speaker">
                  <img src="{% static 'img/faces/1.jpg' %}" alt="speaker" />
                </li>
                <li class="mil-speaker">
                  <img src="{% static 'img/faces/2.jpg' %}" alt="speaker" />
                </li>
                <li class="mil-speaker">
                  <img src="{% static 'img/faces/3.jpg' %}" alt="speaker" />
                </li>
              </ul>
              <div class="mil-card-title">
                <p class="mil-category mil-text-sm mil-mb-15">Data Security</p>
                <h4>Development for the next era of the Internet economy</h4>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="event.html" class="mil-card-2">
            <div class="mil-cover-frame">
              <img src="{% static 'img/projects/4.jpg' %}" alt="project" />
            </div>
            <div class="mil-description">
              <ul class="mil-speakers">
                <li class="mil-speaker">
                  <img src="{% static 'img/faces/1.jpg' %}" alt="speaker" />
                </li>
              </ul>
              <div class="mil-card-title">
                <p class="mil-category mil-text-sm mil-mb-15">Data Security</p>
                <h4>Development for the next era of the Internet economy</h4>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- events end -->

<!-- about -->
<section class="mil-about mil-p-120-60">
  <div class="mil-deco" style="top: 0; right: 10%"></div>
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-5 col-xl-5">
        <div class="mil-about-illustration mil-mb-60">
          <div class="mil-image-frame">
            <img src="{% static 'img/photo/8.jpg' %}" alt="Office" />
          </div>
          <div class="mil-window">
            <ul class="mil-speakers">
              <li class="mil-speaker">
                <img src="{% static 'img/faces/1.jpg' %}" alt="speaker" />
              </li>
              <li class="mil-speaker">
                <img src="{% static 'img/faces/2.jpg' %}" alt="speaker" />
              </li>
              <li class="mil-speaker">
                <img src="{% static 'img/faces/3.jpg' %}" alt="speaker" />
              </li>
              <li class="mil-speaker">
                <img src="{% static 'img/faces/4.jpg' %}" alt="speaker" />
              </li>
            </ul>
            <div class="mil-window-bottom">
              <h3>4.5</h3>
              <div>
                <ul class="mil-stars">
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li class="mil-empty"><i class="fas fa-star"></i></li>
                </ul>
                <p class="mil-text-sm">From +5000 reviews</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-6">
        <span class="mil-suptitle mil-suptitle-2 mil-mb-30"
          >Designed for Developers</span
        >
        <h2 class="mil-mb-30">Powerful and Easy</h2>
        <p class="mil-mb-30">
          Many desktop publishing packages and web page editors now use Lorem
          Ipsum as their default model text, and a search for 'lorem ipsum' will
          uncover many web sites still in their infancy. Various versions have
          evolved over the years, sometimes by accident, sometimes on purpose.
          There are many variations of passages majority.
        </p>
        <ul class="mil-simple-list mil-mb-60">
          <li>Accelerate innovation.</li>
          <li>With world-class tech teams.</li>
          <li>Our all service offerings to enhance.</li>
          <li>Simply drag, drop and customize.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- about end -->

<div class="container">
  <div class="mil-divider"></div>
</div>

<!-- icon boxes -->
<section class="mil-icon-boxes mil-p-120-60">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xl-3">
        <div class="mil-icon-box mil-center mil-mb-60">
          <div class="mil-icon-frame mil-icon-frame-md mil-mb-30">
            <img src="{% static 'img/icons/md/1.svg' %}" alt="icon" />
          </div>
          <p class="mil-text-sm mil-mb-20">Data Security</p>
          <h5>Quis ipsum suspendisse <br />ultrices gravida</h5>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="mil-icon-box mil-center mil-mb-60">
          <div class="mil-icon-frame mil-icon-frame-md mil-mb-30">
            <img src="{% static 'img/icons/md/6.svg' %}" alt="icon" />
          </div>
          <p class="mil-text-sm mil-mb-20">SEO and Optimazation</p>
          <h5>Quis ipsum suspendisse <br />ultrices gravida</h5>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="mil-icon-box mil-center mil-mb-60">
          <div class="mil-icon-frame mil-icon-frame-md mil-mb-30">
            <img src="{% static 'img/icons/md/4.svg' %}" alt="icon" />
          </div>
          <p class="mil-text-sm mil-mb-20">Analytics and Research</p>
          <h5>Quis ipsum suspendisse <br />ultrices gravida</h5>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="mil-icon-box mil-center mil-mb-60">
          <div class="mil-icon-frame mil-icon-frame-md mil-mb-30">
            <img src="{% static 'img/icons/md/2.svg' %}" alt="icon" />
          </div>
          <p class="mil-text-sm mil-mb-20">IT Management Services</p>
          <h5>Quis ipsum suspendisse <br />ultrices gravida</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- icon boxes end -->

<!-- courses -->
<section class="mil-courses mil-deep-bg mil-p-120-120">
  <div class="mil-deco" style="top: 0; right: 40%"></div>
  <div
    class="mil-deco"
    style="bottom: 0; right: 15%; transform: rotate(180deg)"
  ></div>
  <div class="container">
    <div class="row align-items-center mil-mb-60-adapt">
      <div class="col-md-6 col-xl-6">
        <span class="mil-suptitle mil-suptitle-2 mil-mb-30"
          >Unlimited Training</span
        >
        <h2 class="mil-mb-30">Latest Courses</h2>
      </div>
      <div class="col-md-6 col-xl-6">
        <div class="mil-adaptive-right">
          <div class="mil-slider-nav mil-mb-30">
            <div class="mil-slider-btn-prev mil-courses-prev">
              <i class="fas fa-arrow-left"></i><span class="mil-h6">Prev</span>
            </div>
            <div class="mil-slider-btn-next mil-courses-next">
              <span class="mil-h6">Next</span><i class="fas fa-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-container mil-courses-slider mil-mb-90">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#." class="mil-card">
            <div class="mil-cover-frame mil-mb-15">
              <img src="{% static 'img/blog/1.jpg' %}" alt="project" />
            </div>
            <div class="mil-description">
              <div class="mil-fw-descr">
                <div class="mil-card-top">
                  <ul class="mil-bages mil-mb-15">
                    <li class="mil-dark">Security</li>
                    <li class="mil-dark">Team</li>
                  </ul>
                  <div class="mil-stars mil-mb-15">
                    <span class="mil-dark">4.5</span>
                    <ul>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li class="mil-empty"><i class="fas fa-star"></i></li>
                    </ul>
                  </div>
                </div>
                <div class="mil-divider mil-divider-left mil-mb-20"></div>
                <h4 class="mil-mb-15">Cibersecurity Premium</h4>
                <p class="mil-text-sm mil-mb-15">John Stone</p>
                <div class="mil-text-lg mil-bold mil-accent">Free</div>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#." class="mil-card">
            <div class="mil-cover-frame mil-mb-15">
              <img src="{% static 'img/projects/2.jpg' %}" alt="project" />
            </div>
            <div class="mil-description">
              <div class="mil-fw-descr">
                <div class="mil-card-top">
                  <ul class="mil-bages mil-mb-15">
                    <li class="mil-dark">Security</li>
                    <li class="mil-dark">Team</li>
                  </ul>
                  <div class="mil-stars mil-mb-15">
                    <span class="mil-dark">4.5</span>
                    <ul>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li class="mil-empty"><i class="fas fa-star"></i></li>
                    </ul>
                  </div>
                </div>
                <div class="mil-divider mil-divider-left mil-mb-20"></div>
                <h4 class="mil-mb-15">Cibersecurity Premium</h4>
                <p class="mil-text-sm mil-mb-15">John Stone</p>
                <div class="mil-text-lg mil-dark mil-bold">$22.99 us</div>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#." class="mil-card">
            <div class="mil-cover-frame mil-mb-15">
              <img src="{% static 'img/projects/1.jpg' %}" alt="project" />
            </div>
            <div class="mil-description">
              <div class="mil-fw-descr">
                <div class="mil-card-top">
                  <ul class="mil-bages mil-mb-15">
                    <li class="mil-dark">Security</li>
                    <li class="mil-dark">Team</li>
                  </ul>
                  <div class="mil-stars mil-mb-15">
                    <span class="mil-dark">4.5</span>
                    <ul>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li class="mil-empty"><i class="fas fa-star"></i></li>
                    </ul>
                  </div>
                </div>
                <div class="mil-divider mil-divider-left mil-mb-20"></div>
                <h4 class="mil-mb-15">Cibersecurity Premium</h4>
                <p class="mil-text-sm mil-mb-15">John Stone</p>
                <div class="mil-text-lg mil-bold">
                  <s class="mil-text-sm">$15.99 us</s> &nbsp;
                  <span class="mil-accent">$50.99 us</span>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#." class="mil-card">
            <div class="mil-cover-frame mil-mb-15">
              <img src="{% static 'img/blog/3.jpg' %}" alt="project" />
            </div>
            <div class="mil-description">
              <div class="mil-fw-descr">
                <div class="mil-card-top">
                  <ul class="mil-bages mil-mb-15">
                    <li class="mil-dark">Security</li>
                    <li class="mil-dark">Team</li>
                  </ul>
                  <div class="mil-stars mil-mb-15">
                    <span class="mil-dark">4.5</span>
                    <ul>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li class="mil-empty"><i class="fas fa-star"></i></li>
                    </ul>
                  </div>
                </div>
                <div class="mil-divider mil-divider-left mil-mb-20"></div>
                <h4 class="mil-mb-15">Cibersecurity Premium</h4>
                <p class="mil-text-sm mil-mb-15">John Stone</p>
                <div class="mil-dark mil-bold">19.99 us$</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-6 col-xl-6">
        <a href="#." class="mil-link"
          ><span>See More Courses</span><i class="fas fa-arrow-right"></i
        ></a>
      </div>
    </div>
  </div>
</section>
<!-- courses end -->

<!-- awards -->
<section class="mil-awards">
  <div class="row m-0">
    <div class="col-xl-6 p-0 mil-relative">
      <img
        src="{% static 'img/photo/9.jpg' %}"
        class="mil-background-image"
        style="object-position: center"
        data-swiper-parallax-scale="1.1"
        alt="image"
      />
      <div class="mil-overlay"></div>

      <div class="mil-fake-container">
        <span class="mil-suptitle mil-suptitle-2 mil-light mil-mb-30"
          >Hard Work</span
        >
        <h2 class="mil-light mil-mb-30">
          Our <span class="mil-accent">Awards</span> and Tecognitions
        </h2>
        <p class="mil-light-soft mil-mb-30">
          Many desktop publishing packages and web page editors now use Lorem
          Ipsum as their default model text, and a search for 'lorem ipsum' will
          uncover many web sites still in their infancy. Various versions have
          evolved over the years, sometimes by accident, sometimes on purpose.
        </p>
        <a href="#." class="mil-link"
          ><span class="mil-light">About us</span
          ><i class="fas fa-arrow-right"></i
        ></a>
      </div>
    </div>
    <div class="col-xl-6 p-0">
      <div class="row m-0">
        <div class="col-md-6 col-xl-6 p-0">
          <div class="mil-awards-box mil-gradient-bg">
            <div class="mil-icon-box mil-center">
              <div class="mil-icon-frame mil-icon-frame-md mil-mb-30">
                <img src="{% static 'img/icons/md/6l.svg' %}" alt="icon" />
              </div>
              <h5 class="mil-light mil-mb-20">CSS Design</h5>
              <p class="mil-text-sm mil-light-soft">
                Various versions have evolved over the years, sometimes by
                accident, sometimes on purpose.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-6 p-0">
          <div class="mil-awards-box mil-box-2 mil-gradient-bg">
            <div class="mil-icon-box mil-center">
              <div class="mil-icon-frame mil-icon-frame-md mil-mb-30">
                <img src="{% static 'img/icons/md/6l.svg' %}" alt="icon" />
              </div>
              <h5 class="mil-light mil-mb-20">W3 Design Award</h5>
              <p class="mil-text-sm mil-light-soft">
                Various versions have evolved over the years, sometimes by
                accident, sometimes on purpose.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-6 p-0">
          <div class="mil-awards-box mil-gradient-bg">
            <div class="mil-icon-box mil-center">
              <div class="mil-icon-frame mil-icon-frame-md mil-mb-30">
                <img src="{% static 'img/icons/md/6l.svg' %}" alt="icon" />
              </div>
              <h5 class="mil-light mil-mb-20">The FWA Award</h5>
              <p class="mil-text-sm mil-light-soft">
                Various versions have evolved over the years, sometimes by
                accident, sometimes on purpose.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-6 p-0">
          <div class="mil-awards-box mil-box-2 mil-pb-60-adapt mil-gradient-bg">
            <div class="mil-icon-box mil-center">
              <div class="mil-icon-frame mil-icon-frame-md mil-mb-30">
                <img src="{% static 'img/icons/md/6l.svg' %}" alt="icon" />
              </div>
              <h5 class="mil-light mil-mb-20">WWW Awards</h5>
              <p class="mil-text-sm mil-light-soft">
                Various versions have evolved over the years, sometimes by
                accident, sometimes on purpose.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- awards end -->
{% endblock %}