{% extends 'base.html' %} {% load static %} {% block content %}
{% block navClassList %} mil-top-panel {% endblock %}
<!-- banner -->
<div class="mil-banner-sm mil-deep-bg">
  <img
    src="{% static 'img/deco/map.png' %}"
    alt="background"
    class="mil-background-image"
  />
  <div
    class="mil-deco mil-deco-accent"
    style="top: 47%; right: 10%; transform: rotate(90deg)"
  ></div>
  <div class="mil-banner-content">
    <div class="container mil-relative">
      <ul class="mil-breadcrumbs mil-mb-30">
        <li><a href="home-2.html">Home</a></li>
        <li><a href="prices.html">Pricing</a></li>
      </ul>
      <h2 class="mil-uppercase">Pricing and plans</h2>
    </div>
  </div>
</div>
<!-- banner end -->

<!-- prices -->
<section class="mil-prices mil-p-120-0">
  <div class="container">
    <h3 class="mil-text-center mil-mb-120">
      Get <span class="mil-accent">2 months</span> free by choosing ITSulu
      annual plan
    </h3>
    <div class="row">
      <div class="col-xl-4">
        <div class="mil-hover-card mil-price-card mil-mb-30">
          <p class="mil-mb-15">For People</p>
          <h2>PLUS</h2>
          <div class="mil-plan-price mil-mb-15">
            <h3 class="mil-accent">$9</h3>
            <span>Per Month</span>
          </div>
          <p class="mil-text-sm mil-mb-60">2TB (2000 GB), 1 User</p>
          <a href="#." class="mil-button mil-border mil-fw mil-mb-60"
            ><span>Get Started</span></a
          >
          <ul class="mil-check-list">
            <li>There many variations of passages</li>
            <li>All the lorem ipsum generators</li>
            <li>There many variations of passages</li>
            <li>All the lorem ipsum generators</li>
            <li class="mil-empty">There many variations of passages</li>
            <li class="mil-empty">All the lorem ipsum generators</li>
          </ul>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="mil-hover-card mil-price-card mil-mb-30">
          <p class="mil-mb-15">For Independent Workers</p>
          <h2>PRO</h2>
          <div class="mil-plan-price mil-mb-15">
            <h3 class="mil-accent">$99</h3>
            <span>Per Month</span>
          </div>
          <p class="mil-text-sm mil-mb-60">4TB (4000 GB), 4 User</p>
          <a href="#." class="mil-button mil-border mil-fw mil-mb-60"
            ><span>Get Started</span></a
          >
          <ul class="mil-check-list">
            <li>There many variations of passages</li>
            <li>All the lorem ipsum generators</li>
            <li>There many variations of passages</li>
            <li>All the lorem ipsum generators</li>
            <li>There many variations of passages</li>
            <li class="mil-empty">All the lorem ipsum generators</li>
          </ul>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="mil-hover-card mil-price-card mil-mb-30">
          <p class="mil-mb-15">Startup</p>
          <h2>GOLD</h2>
          <div class="mil-plan-price mil-mb-15">
            <h3 class="mil-accent">$299</h3>
            <span>Per Month</span>
          </div>
          <p class="mil-text-sm mil-mb-60">
            All the necessary space, Unlimited
          </p>
          <a href="#." class="mil-button mil-border mil-fw mil-mb-60"
            ><span>Get Started</span></a
          >
          <ul class="mil-check-list">
            <li>There many variations of passages</li>
            <li>All the lorem ipsum generators</li>
            <li>There many variations of passages</li>
            <li>All the lorem ipsum generators</li>
            <li>There many variations of passages</li>
            <li>All the lorem ipsum generators</li>
          </ul>
        </div>
      </div>
      <div class="col-lx-12 mil-p-90-120">
        <h3 class="mil-text-center">
          Do you only need <span class="mil-accent">9GB</span> to save and share
          your files?
        </h3>
      </div>
    </div>
  </div>
</section>
<!-- prices end -->

<div class="container">
  <div class="mil-divider"></div>
</div>

<!-- reviews -->
<section class="mil-reviews mil-p-120-120">
  <div class="container">
    <div class="swiper-container mil-revi-slider-2">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="mil-review mil-text-center">
            <div class="mil-icon-frame mil-icon-frame-md mil-mb-30">
              <img src="{% static 'img/icons/md/7.svg' %}" alt="icon" />
            </div>
            <p class="mil-mb-30">
              There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form, by
              injected humour, or randomised words slightly believable.
            </p>
            <div class="mil-stars mil-mb-30">
              <ul>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
              </ul>
            </div>
            <div class="mil-author">
              <img src="{% static 'img/faces/1.jpg' %}" alt="Customer" />
              <div class="mil-name">
                <h6>Margaret Williams</h6>
                <span class="mil-text-sm">Agency Design</span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="mil-review mil-text-center">
            <div class="mil-icon-frame mil-icon-frame-md mil-mb-30">
              <img src="{% static 'img/icons/md/7.svg' %}" alt="icon" />
            </div>
            <p class="mil-mb-30">
              There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form, by
              injected humour, or randomised words slightly believable.
            </p>
            <div class="mil-stars mil-mb-30">
              <ul>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
              </ul>
            </div>
            <div class="mil-author">
              <img src="{% static 'img/faces/2.jpg' %}" alt="Customer" />
              <div class="mil-name">
                <h6>Tamzyn French</h6>
                <span class="mil-text-sm">Agency Design</span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="mil-review mil-text-center">
            <div class="mil-icon-frame mil-icon-frame-md mil-mb-30">
              <img src="{% static 'img/icons/md/7.svg' %}" alt="icon" />
            </div>
            <p class="mil-mb-30">
              There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form, by
              injected humour, or randomised words slightly believable.
            </p>
            <div class="mil-stars mil-mb-30">
              <ul>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
              </ul>
            </div>
            <div class="mil-author">
              <img src="{% static 'img/faces/3.jpg' %}" alt="Customer" />
              <div class="mil-name">
                <h6>Margaret Williams</h6>
                <span class="mil-text-sm">Agency Design</span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="mil-review mil-text-center">
            <div class="mil-icon-frame mil-icon-frame-md mil-mb-30">
              <img src="{% static 'img/icons/md/7.svg' %}" alt="icon" />
            </div>
            <p class="mil-mb-30">
              There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form, by
              injected humour, or randomised words slightly believable.
            </p>
            <div class="mil-stars mil-mb-30">
              <ul>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
              </ul>
            </div>
            <div class="mil-author">
              <img src="{% static 'img/faces/4.jpg' %}" alt="Customer" />
              <div class="mil-name">
                <h6>Tamzyn French</h6>
                <span class="mil-text-sm">Agency Design</span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="mil-review mil-text-center">
            <div class="mil-icon-frame mil-icon-frame-md mil-mb-30">
              <img src="{% static 'img/icons/md/7.svg' %}" alt="icon" />
            </div>
            <p class="mil-mb-30">
              There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form, by
              injected humour, or randomised words slightly believable.
            </p>
            <div class="mil-stars mil-mb-30">
              <ul>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
              </ul>
            </div>
            <div class="mil-author">
              <img src="{% static 'img/faces/5.jpg' %}" alt="Customer" />
              <div class="mil-name">
                <h6>Margaret Williams</h6>
                <span class="mil-text-sm">Agency Design</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- reviews end -->

<!-- call to action -->
<section class="call-to-action mil-gradient-bg mil-p-120-0">
  <div class="mil-deco mil-deco-accent" style="top: 0; left: 15%"></div>
  <div class="container mil-text-center">
    <div class="mil-cta-frame">
      <div class="mil-icon-frame mil-icon-frame-md mil-mb-60">
        <img src="{% static 'img/icons/md/6l.svg' %}" alt="icon" />
      </div>
      <p class="mil-light mil-mb-30">Leadership Team</p>
      <h2 class="mil-light mil-mb-30">
        <span class="mil-accent">ITSulu</span> in The Future
      </h2>
      <p class="mil-light-soft mil-mb-60">
        It is a long established fact that a reader will be distracted by the
        readable content <br />
        of a page when looking at its layout.
      </p>
      <a href="#." class="mil-button-with-label">
        <div class="mil-button mil-border mil-icon-button mil-light">
          <span><i class="fas fa-play"></i></span>
        </div>
        <span class="mil-light">Watch Video</span>
      </a>
    </div>
  </div>
</section>
<!-- call to action end -->
{% endblock %}