{% extends 'base.html' %} {% load static %} {% block content %}
{% block navClassList %} mil-top-panel {% endblock %}
<!-- banner -->
<div class="mil-banner-sm mil-deep-bg">
  <img
    src="{% static 'img/deco/map.png' %}"
    alt="background"
    class="mil-background-image"
  />
  <div
    class="mil-deco mil-deco-accent"
    style="top: 47%; right: 10%; transform: rotate(90deg)"
  ></div>
  <div class="mil-banner-content">
    <div class="container mil-relative">
      <ul class="mil-breadcrumbs mil-mb-30">
        <li><a href="home-1.html">Home</a></li>
        <li><a href="service-1.html">Service</a></li>
      </ul>
      <h2 class="mil-uppercase">Cybersecurity</h2>
    </div>
  </div>
</div>
<!-- banner end -->

<!-- about -->
<section class="mil-p-120-90">
  <div
    class="mil-deco"
    style="bottom: 0; right: 20%; transform: rotate(180deg)"
  ></div>
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-xl-4">
        <div
          class="mil-circle-illustration mil-with-dots-2 mil-mb-60"
          data-swiper-parallax-scale=".8"
        >
          <div class="mil-circle-bg"></div>
          <div class="mil-image-frame">
            <img src="{% static 'img/faces/t4.png' %}" alt="img" />
          </div>
        </div>
      </div>
      <div class="col-xl-7">
        <h2 class="mil-mb-30">
          Protect Your IT Environments With
          <span class="mil-accent">Powerful Cloud Security</span> Solutions and
          Always on Support
        </h2>
        <div class="mil-hori-box mil-mb-30">
          <div class="mil-mr-30">
            <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg">
              <img src="{% static 'img/icons/md/1.svg' %}" alt="icon" />
            </div>
          </div>
          <p>
            Our <span class="mil-accent">certified cloud security</span> experts
            help protect your environments across hyperscale public and private
            clouds so you can run your business confidence.
          </p>
        </div>
        <a href="#." class="mil-button mil-border mil-mb-30"
          ><span>Get in Touch</span></a
        >
      </div>
    </div>
  </div>
</section>
<!-- about end -->

<div class="container">
  <div class="mil-divider"></div>
</div>

<!-- ??? -->
<section class="mil-p-120-90">
  <div class="container">
    <div class="row">
      <div class="col-xl-7">
        <span class="mil-suptitle mil-suptitle-2 mil-mb-30"
          >Discover Our Company</span
        >
        <h2 class="mil-mb-30">
          Explore <span class="mil-accent">Cloud Security</span> Solutions
        </h2>
        <p class="mil-mb-90">
          The constant evolution of threats and the race for more sophisticated
          tools to combat them means that security is changing rapidly.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4">
        <div class="mil-hover-card mil-box-center mil-mb-30">
          <div
            class="mil-deco mil-deco-accent"
            style="top: -10%; right: -10%"
          ></div>
          <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
            <h3>I</h3>
          </div>
          <h5 class="mil-mb-30">Application Security</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="mil-hover-card mil-box-center mil-mb-30">
          <div
            class="mil-deco mil-deco-accent"
            style="top: -10%; right: -10%"
          ></div>
          <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
            <h3>II</h3>
          </div>
          <h5 class="mil-mb-30">Data Protection</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="mil-hover-card mil-box-center mil-mb-30">
          <div
            class="mil-deco mil-deco-accent"
            style="top: -10%; right: -10%"
          ></div>
          <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
            <h3>III</h3>
          </div>
          <h5 class="mil-mb-30">Network Security</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="mil-hover-card mil-box-center mil-mb-30">
          <div
            class="mil-deco mil-deco-accent"
            style="top: -10%; right: -10%"
          ></div>
          <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
            <h3>IV</h3>
          </div>
          <h5 class="mil-mb-30">Security Strategy</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="mil-hover-card mil-box-center mil-mb-30">
          <div
            class="mil-deco mil-deco-accent"
            style="top: -10%; right: -10%"
          ></div>
          <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
            <h3>V</h3>
          </div>
          <h5 class="mil-mb-30">Detection and Response</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="mil-hover-card mil-box-center mil-mb-30">
          <div
            class="mil-deco mil-deco-accent"
            style="top: -10%; right: -10%"
          ></div>
          <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
            <h3>VI</h3>
          </div>
          <h5 class="mil-mb-30">Elastic Engineering</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ??? end -->

<!-- ??? -->
<section class="mil-deep-bg mil-p-120-90">
  <div class="container">
    <div class="row">
      <div class="col-xl-7">
        <span class="mil-suptitle mil-suptitle-2 mil-mb-30"
          >Explore More Solutions</span
        >
        <h2 class="mil-mb-90">
          Boost Your <span class="mil-accent">Advantage</span>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 mil-mb-30">
        <div
          class="mil-deco mil-deco-accent"
          style="top: -10%; right: -10%"
        ></div>
        <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
          <h3>I</h3>
        </div>
        <h5 class="mil-mb-30">Cloud Native <br />Security Services</h5>
        <p>
          Lorem ipsum dolor sit amet, adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="col-xl-3 mil-mb-30">
        <div
          class="mil-deco mil-deco-accent"
          style="top: -10%; right: -10%"
        ></div>
        <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
          <h3>II</h3>
        </div>
        <h5 class="mil-mb-30">Multi <br />Cloud Security</h5>
        <p>
          Lorem ipsum dolor sit amet, adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="col-xl-3 mil-mb-30">
        <div
          class="mil-deco mil-deco-accent"
          style="top: -10%; right: -10%"
        ></div>
        <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
          <h3>III</h3>
        </div>
        <h5 class="mil-mb-30">On Site Security <br />and Compliance</h5>
        <p>
          Lorem ipsum dolor sit amet, adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="col-xl-3 mil-mb-30">
        <div
          class="mil-deco mil-deco-accent"
          style="top: -10%; right: -10%"
        ></div>
        <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
          <h3>IV</h3>
        </div>
        <h5 class="mil-mb-30">Consectetur <br />adipiscing elit</h5>
        <p>
          Lorem ipsum dolor sit amet, adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- ??? end -->

<!-- ??? -->
<section class="mil-gradient-bg mil-p-120-90">
  <div
    class="mil-deco mil-deco-accent"
    style="bottom: 0; right: 20%; transform: rotate(180deg)"
  ></div>
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-xl-4">
        <span class="mil-suptitle mil-suptitle-2 mil-light mil-mb-30"
          >Explore More Solutions</span
        >
        <h2 class="mil-light mil-mb-90">
          Do You Know what Your
          <span class="mil-accent">Cybersecurity</span> Risk Score Is?
        </h2>
      </div>
      <div class="col-xl-7 mil-mb-30">
        <p class="mil-light-soft mil-mb-30">
          By answering these simple questions about your cybersecurity
          technology, processes, and people, you'll receive a cybersecurity risk
          score against our baseline that can help you identify common security
          gaps in your environment that you may not be aware of.
        </p>
        <a href="#." class="mil-button mil-border mil-light"
          ><span>Start Now</span></a
        >
      </div>
    </div>
  </div>
</section>
<!-- ??? end -->

<!-- courses -->
<section class="mil-courses mil-p-120-90">
  <div class="mil-deco" style="top: 0; right: 40%"></div>
  <div class="container">
    <div class="row align-items-center mil-mb-60-adapt">
      <div class="col-md-6 col-xl-6">
        <span class="mil-suptitle mil-suptitle-2 mil-mb-30"
          >Unlimited Training</span
        >
        <h2 class="mil-mb-30">Latest Courses</h2>
      </div>
      <div class="col-md-6 col-xl-6">
        <div class="mil-adaptive-right">
          <div class="mil-slider-nav mil-mb-30">
            <div class="mil-slider-btn-prev mil-courses-prev">
              <i class="fas fa-arrow-left"></i><span class="mil-h6">Prev</span>
            </div>
            <div class="mil-slider-btn-next mil-courses-next">
              <span class="mil-h6">Next</span><i class="fas fa-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-container mil-courses-slider mil-mb-30">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#." class="mil-card">
            <div class="mil-cover-frame mil-mb-15">
              <img src="{% static 'img/blog/1.jpg' %}" alt="project" />
            </div>
            <div class="mil-description">
              <div class="mil-fw-descr">
                <div class="mil-card-top">
                  <ul class="mil-bages mil-mb-15">
                    <li class="mil-dark">Security</li>
                    <li class="mil-dark">Team</li>
                  </ul>
                  <div class="mil-stars mil-mb-15">
                    <span class="mil-dark">4.5</span>
                    <ul>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li class="mil-empty"><i class="fas fa-star"></i></li>
                    </ul>
                  </div>
                </div>
                <div class="mil-divider mil-divider-left mil-mb-20"></div>
                <h4 class="mil-mb-15">Cibersecurity Premium</h4>
                <p class="mil-text-sm mil-mb-15">John Stone</p>
                <div class="mil-text-lg mil-bold mil-accent">Free</div>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#." class="mil-card">
            <div class="mil-cover-frame mil-mb-15">
              <img src="{% static 'img/projects/2.jpg' %}" alt="project" />
            </div>
            <div class="mil-description">
              <div class="mil-fw-descr">
                <div class="mil-card-top">
                  <ul class="mil-bages mil-mb-15">
                    <li class="mil-dark">Security</li>
                    <li class="mil-dark">Team</li>
                  </ul>
                  <div class="mil-stars mil-mb-15">
                    <span class="mil-dark">4.5</span>
                    <ul>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li class="mil-empty"><i class="fas fa-star"></i></li>
                    </ul>
                  </div>
                </div>
                <div class="mil-divider mil-divider-left mil-mb-20"></div>
                <h4 class="mil-mb-15">Cibersecurity Premium</h4>
                <p class="mil-text-sm mil-mb-15">John Stone</p>
                <div class="mil-text-lg mil-dark mil-bold">$22.99 us</div>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#." class="mil-card">
            <div class="mil-cover-frame mil-mb-15">
              <img src="{% static 'img/projects/1.jpg' %}" alt="project" />
            </div>
            <div class="mil-description">
              <div class="mil-fw-descr">
                <div class="mil-card-top">
                  <ul class="mil-bages mil-mb-15">
                    <li class="mil-dark">Security</li>
                    <li class="mil-dark">Team</li>
                  </ul>
                  <div class="mil-stars mil-mb-15">
                    <span class="mil-dark">4.5</span>
                    <ul>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li class="mil-empty"><i class="fas fa-star"></i></li>
                    </ul>
                  </div>
                </div>
                <div class="mil-divider mil-divider-left mil-mb-20"></div>
                <h4 class="mil-mb-15">Cibersecurity Premium</h4>
                <p class="mil-text-sm mil-mb-15">John Stone</p>
                <div class="mil-text-lg mil-bold">
                  <s class="mil-text-sm">$15.99 us</s> &nbsp;
                  <span class="mil-accent">$50.99 us</span>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#." class="mil-card">
            <div class="mil-cover-frame mil-mb-15">
              <img src="{% static 'img/blog/3.jpg' %}" alt="project" />
            </div>
            <div class="mil-description">
              <div class="mil-fw-descr">
                <div class="mil-card-top">
                  <ul class="mil-bages mil-mb-15">
                    <li class="mil-dark">Security</li>
                    <li class="mil-dark">Team</li>
                  </ul>
                  <div class="mil-stars mil-mb-15">
                    <span class="mil-dark">4.5</span>
                    <ul>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li class="mil-empty"><i class="fas fa-star"></i></li>
                    </ul>
                  </div>
                </div>
                <div class="mil-divider mil-divider-left mil-mb-20"></div>
                <h4 class="mil-mb-15">Cibersecurity Premium</h4>
                <p class="mil-text-sm mil-mb-15">John Stone</p>
                <div class="mil-dark mil-bold">19.99 us$</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- courses end -->

<!-- contact -->
<section class="mil-contact mil-gradient-bg mil-p-120-0">
  <div class="mil-deco mil-deco-accent" style="top: 0; right: 10%"></div>
  <div class="container">
    <h2 class="mil-light mil-mb-90">
      Contact <span class="mil-accent">Us</span>
    </h2>
    <form>
      <div class="row">
        <div class="col-lg-6">
          <div class="mil-input-frame mil-mb-30">
            <label
              ><span class="mil-light">Name</span
              ><span class="mil-accent">Required</span></label
            >
            <input type="text" placeholder="Enter Your Name Here" />
          </div>
          <div class="mil-input-frame mil-mb-30">
            <label
              ><span class="mil-light">Email Adress</span
              ><span class="mil-accent">Required</span></label
            >
            <input type="email" id="email" placeholder="Your Email" />
          </div>
          <div class="mil-input-frame mil-mb-60">
            <label
              ><span class="mil-light">Phone</span
              ><span class="mil-light-soft">Optional</span></label
            >
            <input type="number" placeholder="Your Phone" />
          </div>
          <div class="mil-attach-frame mil-mb-60">
            <i class="fas fa-paperclip"></i>
            <label class="mil-custom-file-input">
              <span>Attach your file</span>
              <input type="file" id="mil-file-input" />
            </label>
            <p class="mil-text-sm mil-light-soft">up to 20MB</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="mil-input-frame mil-mb-30">
            <label
              ><span class="mil-light">Email Adress</span
              ><span class="mil-accent">Required</span></label
            >
            <textarea placeholder="Your Message"></textarea>
          </div>
          <p class="mil-text-sm mil-light-soft mil-mb-15">
            We will process your personal information in accordance with our
            Privacy Policy.
          </p>

          <div class="mil-checbox-frame mil-mb-60">
            <input
              class="mil-checkbox"
              id="checkbox-1"
              type="checkbox"
              value="value"
            />
            <label for="checkbox-1" class="mil-text-sm mil-light"
              >I would like to be contacted with news and updates about your
              <a href="#." class="mil-accent">events and services</a></label
            >
          </div>
        </div>
        <div class="col-12">
          <button class="mil-button mil-accent-bg mil-fw">
            <span>Send Message Now</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
<!-- contact end -->
{% endblock %}