{% extends 'base.html' %} {% load static %} {% block content %}
{% block navClassList %} mil-top-panel {% endblock %}
<!-- banner -->
<div class="mil-banner-sm mil-deep-bg">
  <img
    src="{% static 'img/deco/map.png' %}"
    alt="background"
    class="mil-background-image"
  />
  <div
    class="mil-deco mil-deco-accent"
    style="top: 47%; right: 10%; transform: rotate(90deg)"
  ></div>
  <div class="mil-banner-content">
    <div class="container mil-relative">
      <ul class="mil-breadcrumbs mil-mb-30">
        <li><a href="home-1.html">Home</a></li>
        <li><a href="service-1.html">Service</a></li>
      </ul>
      <h2 class="mil-uppercase">Mobile app development</h2>
    </div>
  </div>
</div>
<!-- banner end -->

<!-- ??? -->
<section class="mil-p-120-60">
  <div class="container">
    <div class="mil-mb-90">
      <span class="mil-suptitle mil-suptitle-2 mil-mb-30"
        >Our Data Analytics Expertise</span
      >
      <h2 class="mil-mb-30">
        Custom <span class="mil-accent">App Solutions</span> For any Mobile
        Platform
      </h2>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="mil-box-center mil-mb-60">
          <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
            <img src="{% static 'img/icons/md/22.svg' %}" alt="icon" />
          </div>
          <h5 class="mil-mb-20">Android Platform</h5>
          <p class="mil-mb-30">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua accumsan
            lacus vel facilisis.
          </p>
          <ul class="mil-dot-list">
            <li class="mil-text-sm mil-bold mil-dark">Java</li>
            <li class="mil-text-sm mil-bold mil-dark">Kotlin</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mil-box-center mil-mb-60">
          <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
            <img src="{% static 'img/icons/md/22.svg' %}" alt="icon" />
          </div>
          <h5 class="mil-mb-20">Android Platform</h5>
          <p class="mil-mb-30">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua accumsan
            lacus vel facilisis.
          </p>
          <ul class="mil-dot-list">
            <li class="mil-text-sm mil-bold mil-dark">Swift</li>
            <li class="mil-text-sm mil-bold mil-dark">Objective-C</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mil-box-center mil-mb-60">
          <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
            <img src="{% static 'img/icons/md/22.svg' %}" alt="icon" />
          </div>
          <h5 class="mil-mb-20">Cross Platform</h5>
          <p class="mil-mb-30">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua accumsan
            lacus vel facilisis.
          </p>
          <ul class="mil-dot-list">
            <li class="mil-text-sm mil-bold mil-dark">React Native</li>
            <li class="mil-text-sm mil-bold mil-dark">Flutter</li>
            <li class="mil-text-sm mil-bold mil-dark">Xamarin</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ??? end -->

<!-- portfolio -->
<section class="mil-works mil-deep-bg mil-p-120-90">
  <div class="mil-deco" style="top: 0; right: 40%"></div>
  <div class="container">
    <div class="row align-items-center mil-mb-60-adapt">
      <div class="col-md-6 col-xl-6">
        <h2 class="mil-mb-30">Latest Projects</h2>
      </div>
      <div class="col-md-6 col-xl-6">
        <div class="mil-adaptive-right">
          <div class="mil-slider-nav mil-mb-30">
            <div class="mil-slider-btn-prev mil-works-prev">
              <i class="fas fa-arrow-left"></i><span class="mil-h6">Prev</span>
            </div>
            <div class="mil-slider-btn-next mil-works-next">
              <span class="mil-h6">Next</span><i class="fas fa-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-container mil-works-slider mil-mb-90">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="project.html" class="mil-card">
            <div class="mil-cover-frame">
              <img src="{% static 'img/projects/1.jpg' %}" alt="project" />
            </div>
            <div class="mil-description">
              <div class="mil-card-title">
                <h4 class="mil-mb-20">Easy & Most Powerful Server Platform.</h4>
                <h6>by: <span class="mil-accent">Jane Meldrum</span></h6>
              </div>
              <div class="mil-card-text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="project.html" class="mil-card">
            <div class="mil-cover-frame">
              <img src="{% static 'img/projects/2.jpg' %}" alt="project" />
            </div>
            <div class="mil-description">
              <div class="mil-card-title">
                <h4 class="mil-mb-20">Easy & Most Powerful Server Platform.</h4>
                <h6>by: <span class="mil-accent">Nguta Ithya</span></h6>
              </div>
              <div class="mil-card-text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="project.html" class="mil-card">
            <div class="mil-cover-frame">
              <img src="{% static 'img/projects/3.jpg' %}" alt="project" />
            </div>
            <div class="mil-description">
              <div class="mil-card-title">
                <h4 class="mil-mb-20">Easy & Most Powerful Server Platform.</h4>
                <h6>by: <span class="mil-accent">Roy Bricks</span></h6>
              </div>
              <div class="mil-card-text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="project.html" class="mil-card">
            <div class="mil-cover-frame">
              <img src="{% static 'img/projects/4.jpg' %}" alt="project" />
            </div>
            <div class="mil-description">
              <div class="mil-card-title">
                <h4 class="mil-mb-20">Easy & Most Powerful Server Platform.</h4>
                <h6>by: <span class="mil-accent">Nguta Ithya</span></h6>
              </div>
              <div class="mil-card-text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-6 col-xl-6">
        <a href="portfolio.html" class="mil-link mil-mb-30"
          ><span>View All Cases</span><i class="fas fa-arrow-right"></i
        ></a>
      </div>
      <div class="col-md-6 col-xl-6">
        <div class="mil-adaptive-right">
          <a href="contact.html" class="mil-button mil-border mil-mb-30"
            ><span>Start Your Innovation Journey</span></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- portfolio end -->

<!-- left nav tabs -->
<section class="mil-p-120-60">
  <div class="mil-deco" style="top: 0; right: 15%"></div>
  <div class="container">
    <span class="mil-suptitle mil-suptitle-2 mil-mb-30">All Devices</span>
    <h2 class="mil-mb-90">
      <span class="mil-accent">End-to-End</span> Mobile Development Services
    </h2>

    <div class="row justify-content-between align-items-center">
      <div class="col-lg-5">
        <ul class="mil-tabs-left-nav mil-mb-60">
          <li>
            <a href="#tab-l-1" class="mil-h4 mil-active">Discovery & R&D</a>
          </li>
          <li><a href="#tab-l-2" class="mil-h4">UX/UI Design</a></li>
          <li><a href="#tab-l-3" class="mil-h4">Development</a></li>
          <li><a href="#tab-l-4" class="mil-h4">QA</a></li>
          <li><a href="#tab-l-5" class="mil-h4">Launch</a></li>
          <li><a href="#tab-l-6" class="mil-h4">Maintenance & Support</a></li>
        </ul>
      </div>
      <div class="col-lg-6">
        <div class="swiper-container mil-tabs-slider mil-mb-60">
          <div class="swiper-wrapper">
            <div class="swiper-slide" data-hash="tab-l-1">
              <div data-swiper-parallax="-100" data-swiper-parallax-opacity="0">
                <div
                  class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30"
                >
                  <img src="{% static 'img/icons/md/22.svg' %}" alt="icon" />
                </div>
                <div class="mil-mb-30">
                  <p>
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable. If you are going to use a
                    passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing hidden in the middle of text.
                  </p>
                </div>
                <a href="about.html" class="mil-link"
                  ><span>See More</span><i class="fas fa-arrow-right"></i
                ></a>
              </div>
            </div>
            <div class="swiper-slide" data-hash="tab-l-2">
              <div data-swiper-parallax="-100" data-swiper-parallax-opacity="0">
                <div
                  class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30"
                >
                  <img src="{% static 'img/icons/md/22.svg' %}" alt="icon" />
                </div>
                <div class="mil-mb-30">
                  <p>
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable. If you are going to use a
                    passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing hidden in the middle of text.
                  </p>
                </div>
                <a href="about.html" class="mil-link"
                  ><span>See More</span><i class="fas fa-arrow-right"></i
                ></a>
              </div>
            </div>
            <div class="swiper-slide" data-hash="tab-l-3">
              <div data-swiper-parallax="-100" data-swiper-parallax-opacity="0">
                <div
                  class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30"
                >
                  <img src="{% static 'img/icons/md/22.svg' %}" alt="icon" />
                </div>
                <div class="mil-mb-30">
                  <p>
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable. If you are going to use a
                    passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing hidden in the middle of text.
                  </p>
                </div>
                <a href="about.html" class="mil-link"
                  ><span>See More</span><i class="fas fa-arrow-right"></i
                ></a>
              </div>
            </div>
            <div class="swiper-slide" data-hash="tab-l-4">
              <div data-swiper-parallax="-100" data-swiper-parallax-opacity="0">
                <div
                  class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30"
                >
                  <img src="{% static 'img/icons/md/22.svg' %}" alt="icon" />
                </div>
                <div class="mil-mb-30">
                  <p>
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable. If you are going to use a
                    passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing hidden in the middle of text.
                  </p>
                </div>
                <a href="about.html" class="mil-link"
                  ><span>See More</span><i class="fas fa-arrow-right"></i
                ></a>
              </div>
            </div>
            <div class="swiper-slide" data-hash="tab-l-5">
              <div data-swiper-parallax="-100" data-swiper-parallax-opacity="0">
                <div
                  class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30"
                >
                  <img src="{% static 'img/icons/md/22.svg' %}" alt="icon" />
                </div>
                <div class="mil-mb-30">
                  <p>
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable. If you are going to use a
                    passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing hidden in the middle of text.
                  </p>
                </div>
                <a href="about.html" class="mil-link"
                  ><span>See More</span><i class="fas fa-arrow-right"></i
                ></a>
              </div>
            </div>
            <div class="swiper-slide" data-hash="tab-l-6">
              <div data-swiper-parallax="-100" data-swiper-parallax-opacity="0">
                <div
                  class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30"
                >
                  <img src="{% static 'img/icons/md/22.svg' %}" alt="icon" />
                </div>
                <div class="mil-mb-30">
                  <p>
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable. If you are going to use a
                    passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing hidden in the middle of text.
                  </p>
                </div>
                <a href="about.html" class="mil-link"
                  ><span>See More</span><i class="fas fa-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- left nav tabs end -->

<div class="container">
  <div class="mil-divider"></div>
</div>

<!-- ??? -->
<section class="mil-p-120-60">
  <div class="mil-deco" style="top: 0; right: 15%"></div>
  <div class="container">
    <div class="mil-mb-90">
      <h2 class="mil-mb-30">
        Delivering <span class="mil-accent">Industry Specific</span> Mobile
        <br />App Solutions
      </h2>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="mil-mb-60">
          <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
            <img src="{% static 'img/icons/md/23.svg' %}" alt="icon" />
          </div>
          <h5 class="mil-mb-20">eCcommerce</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor facilisis.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mil-mb-60">
          <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
            <img src="{% static 'img/icons/md/24.svg' %}" alt="icon" />
          </div>
          <h5 class="mil-mb-20">Entertainment</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor facilisis.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mil-mb-60">
          <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
            <img src="{% static 'img/icons/md/6.svg' %}" alt="icon" />
          </div>
          <h5 class="mil-mb-20">Enterprise</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor facilisis.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ??? end -->

<div class="container">
  <div class="mil-divider"></div>
</div>

<!-- ??? -->
<section class="mil-p-120-60">
  <div class="container">
    <div class="row align-items-end mil-mb-60-adapt">
      <div class="col-md-6 col-xl-6">
        <span class="mil-suptitle mil-suptitle-2 mil-mb-30"
          >Tech, Business and Talents</span
        >
        <h2 class="mil-mb-30">
          Next <span class="mil-accent">Gen Tech</span> For Mobile App
          Development
        </h2>
      </div>
      <div class="col-md-6 col-xl-6">
        <div class="mil-adaptive-right">
          <a href="contact.html" class="mil-button mil-border mil-mb-30"
            ><span>Learn More</span></a
          >
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <div class="mil-box-center mil-mb-60">
          <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
            <img src="{% static 'img/icons/md/1.svg' %}" alt="icon" />
          </div>
          <h6>Cloud</h6>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mil-box-center mil-mb-60">
          <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
            <img src="{% static 'img/icons/md/11.svg' %}" alt="icon" />
          </div>
          <h6>AI / ML</h6>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mil-box-center mil-mb-60">
          <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
            <img src="{% static 'img/icons/md/2.svg' %}" alt="icon" />
          </div>
          <h6>AR / VR</h6>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mil-box-center mil-mb-60">
          <div class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30">
            <img src="{% static 'img/icons/md/4.svg' %}" alt="icon" />
          </div>
          <h6>IoT</h6>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ??? end -->
{% endblock %}