{% extends 'base.html' %} {% load static %} {% block content %}
{% block navClassList %} mil-top-panel {% endblock %}
<!-- banner -->
<div class="mil-banner-sm mil-deep-bg">
  <img
    src="{% static 'img/deco/map.png' %}"
    alt="background"
    class="mil-background-image"
  />
  <div
    class="mil-deco mil-deco-accent"
    style="top: 47%; right: 10%; transform: rotate(90deg)"
  ></div>
  <div class="mil-banner-content">
    <div class="container mil-relative">
      <ul class="mil-breadcrumbs mil-mb-30">
        <li><a href="home-1.html">Home</a></li>
        <li><a href="service-1.html">Solution</a></li>
      </ul>
      <h2 class="mil-uppercase">UI/UX design</h2>
    </div>
  </div>
</div>
<!-- banner end -->

<!-- call to action -->
<section class="mil-p-120-90">
  <div
    class="mil-deco"
    style="bottom: 0; right: 25%; transform: rotate(180deg)"
  ></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="mil-hori-box mil-mb-30">
          <div class="mil-mr-30">
            <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg">
              <img src="{% static 'img/icons/md/13.svg' %}" alt="icon" />
            </div>
          </div>
          <h5>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna
            <span class="mil-accent">aliqu quis ipsum suspendisse</span>
            ultrices gravida.
          </h5>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mil-adaptive-right">
          <a href="#." class="mil-button mil-border mil-mb-30"
            ><span>Hire UI/UX Designers</span></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- call to action end -->

<div class="container">
  <div class="mil-divider"></div>
</div>

<!-- process -->
<section class="mil-p-120-60">
  <div class="mil-deco" style="top: 0; right: 25%"></div>
  <div class="container">
    <span class="mil-suptitle mil-suptitle-2 mil-mb-30">High Experience</span>
    <h2 class="mil-mb-120">
      UI/UX <span class="mil-accent">Design Services</span> That Set Us Apart
    </h2>

    <div class="row">
      <div class="col-md-6 col-xl-4">
        <div class="mil-icon-box-2 mil-mb-60">
          <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
            <img src="{% static 'img/icons/md/1.svg' %}" alt="icon" />
          </div>
          <div class="mil-box-text">
            <h4 class="mil-mb-30">User Research</h4>
            <p class="mil-box-text mil-mb-30">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="mil-icon-box-2 mil-mb-60">
          <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
            <img src="{% static 'img/icons/md/15.svg' %}" alt="icon" />
          </div>
          <div class="mil-box-text">
            <h4 class="mil-mb-30">Prototyping</h4>
            <p class="mil-box-text mil-mb-30">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="mil-icon-box-2 mil-mb-60">
          <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
            <img src="{% static 'img/icons/md/4.svg' %}" alt="icon" />
          </div>
          <div class="mil-box-text">
            <h4 class="mil-mb-30">UX Design</h4>
            <p class="mil-box-text mil-mb-30">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="mil-icon-box-2 mil-mb-60">
          <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
            <img src="{% static 'img/icons/md/13.svg' %}" alt="icon" />
          </div>
          <div class="mil-box-text">
            <h4 class="mil-mb-30">UI Design</h4>
            <p class="mil-box-text mil-mb-30">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="mil-icon-box-2 mil-mb-60">
          <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
            <img src="{% static 'img/icons/md/16.svg' %}" alt="icon" />
          </div>
          <div class="mil-box-text">
            <h4 class="mil-mb-30">UI/UX Audit and Consulting</h4>
            <p class="mil-box-text mil-mb-30">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="mil-icon-box-2 mil-mb-60">
          <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
            <img src="{% static 'img/icons/md/10.svg' %}" alt="icon" />
          </div>
          <div class="mil-box-text">
            <h4 class="mil-mb-30">Usability Testing</h4>
            <p class="mil-box-text mil-mb-30">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- process end -->

<!-- call to action -->
<section class="mil-call-to-action mil-p-120-90">
  <div
    class="mil-deco mil-deco-accent"
    style="bottom: 0; right: 35%; transform: rotate(180deg)"
  ></div>
  <img
    src="{% static 'img/photo/15.jpg' %}"
    class="mil-background-image"
    style="object-position: center"
    alt="image"
  />
  <div class="mil-overlay"></div>
  <div class="container mil-relative">
    <div class="row">
      <div class="col-lg-6 mil-mb-30">
        <h3 class="mil-light mil-mb-15">
          Let’s Discuss <span class="mil-accent">Your</span> Digital
          <span class="mil-accent">Opportunity.</span>
        </h3>
        <p class="mil-light-soft">
          Unlock your digital transformation opportunities now!
        </p>
      </div>
      <div class="col-lg-6 mil-mb-30">
        <div class="mil-adaptive-right">
          <a href="#." class="mil-button mil-border mil-light"
            ><span>Get Started</span></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- call to action end -->

<!-- tech stack -->
<section class="mil-p-120-90">
  <div class="mil-deco" style="top: 0; right: 15%"></div>
  <div class="container">
    <span class="mil-suptitle mil-suptitle-2 mil-mb-30">Our Tools</span>
    <h2 class="mil-mb-90">
      Our Design <span class="mil-accent">Technology Stack</span>
    </h2>

    <div class="row mil-grid-lines">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="mil-item-card">
          <h6>Figma</h6>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="mil-item-card">
          <h6>Photoshop</h6>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="mil-item-card">
          <h6>Sketch</h6>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="mil-item-card">
          <h6>Adobe XD</h6>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="mil-item-card">
          <h6>Zeppelin</h6>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="mil-item-card">
          <h6>Illustrator</h6>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="mil-item-card">
          <h6>Kotlin</h6>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="mil-item-card">
          <h6>Swift</h6>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="mil-item-card">
          <h6>PHP</h6>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="mil-item-card">
          <h6>MariaDB</h6>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="mil-item-card">
          <h6>AWS</h6>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="mil-item-card">
          <h6>React</h6>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- tech stack end -->

<!-- ??? -->
<section class="mil-gradient-bg mil-p-120-60">
  <div class="container">
    <div class="mil-mb-90">
      <span class="mil-suptitle mil-suptitle-2 mil-mb-30 mil-light"
        >Our Enterprise</span
      >
      <h2 class="mil-light">
        What Our <span class="mil-accent">UI/UX Design</span> <br />Company Does
        Best
      </h2>
    </div>
    <div class="row mil-mb-30-adapt">
      <div class="col-xl-4">
        <div class="mil-mb-60">
          <div class="mil-number-icon mil-light mil-circle mil-mb-30">
            <span>01</span>
          </div>
          <h4 class="mil-light mil-mb-15">SaaS Development Consulting</h4>
          <p class="mil-light-soft">
            Dissuade ecstatic and properly saw entirely sir why laughter
            endeavor. In on my jointure horrible margaret suitable he followed
            speedily.
          </p>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="mil-mb-60">
          <div class="mil-number-icon mil-light mil-lines mil-mb-30">
            <span>02</span>
          </div>
          <h4 class="mil-light mil-mb-15">SaaS Design and Prototyping</h4>
          <p class="mil-light-soft">
            Dissuade ecstatic and properly saw entirely sir why laughter
            endeavor. In on my jointure horrible margaret suitable he followed
            speedily.
          </p>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="mil-mb-60">
          <div class="mil-number-icon mil-light mil-mb-30">
            <span>03</span>
          </div>
          <h4 class="mil-light mil-mb-15">End-to-End SaaS Development</h4>
          <p class="mil-light-soft">
            Dissuade ecstatic and properly saw entirely sir why laughter
            endeavor. In on my jointure horrible margaret suitable he followed
            speedily.
          </p>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="mil-mb-60">
          <div class="mil-number-icon mil-light mil-mb-30">
            <span>04</span>
          </div>
          <h4 class="mil-light mil-mb-15">Migration to SaaS</h4>
          <p class="mil-light-soft">
            Dissuade ecstatic and properly saw entirely sir why laughter
            endeavor. In on my jointure horrible margaret suitable he followed
            speedily.
          </p>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="mil-mb-60">
          <div class="mil-number-icon mil-light mil-circle mil-mb-30">
            <span>05</span>
          </div>
          <h4 class="mil-light mil-mb-15">Third Party Integrations</h4>
          <p class="mil-light-soft">
            Dissuade ecstatic and properly saw entirely sir why laughter
            endeavor. In on my jointure horrible margaret suitable he followed
            speedily.
          </p>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="mil-mb-60">
          <div class="mil-number-icon mil-light mil-lines mil-mb-30">
            <span>06</span>
          </div>
          <h4 class="mil-light mil-mb-15">SaaS Support and Maintenance</h4>
          <p class="mil-light-soft">
            Dissuade ecstatic and properly saw entirely sir why laughter
            endeavor. In on my jointure horrible margaret suitable he followed
            speedily.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ??? end -->

<!-- steps -->
<section class="mil-deep-bg mil-p-120-0">
  <div class="container">
    <span class="mil-suptitle mil-suptitle-2 mil-mb-30">Our Enterprise</span>
    <h2 class="mil-mb-120">
      How We <span class="mil-accent">Deliver Our UI/UX</span> Design Services
    </h2>

    <div class="swiper-container mil-tabs-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide" data-hash="tab1">
          <div
            class="row justify-content-between align-items-center"
            data-swiper-parallax-y="-100"
            data-swiper-parallax-opacity="0"
          >
            <div class="col-lg-7">
              <div class="mil-hori-box mil-mb-60">
                <h3>Discovery</h3>
              </div>

              <div class="row mil-mb-60">
                <div class="col-lg-6">
                  <p>
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable. If you are going to use a
                    passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing hidden.
                  </p>
                </div>
                <div class="col-lg-6">
                  <p>
                    Internet tend to repeat predefined chunks as necessary,
                    making this the first true generator on the Internet. It
                    uses a dictionary of over 200 Latin words, combined with a
                    handful of model sentence structures, to generate Lorem
                    Ipsum which looks reasonable.
                  </p>
                </div>
              </div>

              <a
                href="contact.html"
                class="mil-button mil-border mil-mb-15 mil-mr-30"
                ><span>Hire UI / UX Designers</span></a
              >
              <a href="#." class="mil-link mil-mb-60"
                ><span>See More</span><i class="fas fa-arrow-right"></i
              ></a>
            </div>
            <div class="col-lg-4">
              <div
                class="mil-circle-illustration mil-with-dots mil-mb-60"
                data-swiper-parallax-scale=".8"
              >
                <div class="mil-circle-bg"></div>
                <div class="mil-image-frame">
                  <img src="{% static 'img/faces/t5.png' %}" alt="img" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide" data-hash="tab2">
          <div
            class="row justify-content-between align-items-center"
            data-swiper-parallax-y="-100"
            data-swiper-parallax-opacity="0"
          >
            <div class="col-lg-7">
              <div class="mil-hori-box mil-mb-60">
                <h3>Validate</h3>
              </div>

              <div class="row mil-mb-60">
                <div class="col-lg-6">
                  <p>
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable. If you are going to use a
                    passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing hidden.
                  </p>
                </div>
                <div class="col-lg-6">
                  <p>
                    Internet tend to repeat predefined chunks as necessary,
                    making this the first true generator on the Internet. It
                    uses a dictionary of over 200 Latin words, combined with a
                    handful of model sentence structures, to generate Lorem
                    Ipsum which looks reasonable.
                  </p>
                </div>
              </div>

              <a
                href="contact.html"
                class="mil-button mil-border mil-mb-15 mil-mr-30"
                ><span>Hire UI / UX Designers</span></a
              >
              <a href="#." class="mil-link mil-mb-60"
                ><span>See More</span><i class="fas fa-arrow-right"></i
              ></a>
            </div>
            <div class="col-lg-4">
              <div
                class="mil-circle-illustration mil-with-dots mil-mb-60"
                data-swiper-parallax-scale=".8"
              >
                <div class="mil-circle-bg"></div>
                <div class="mil-image-frame">
                  <img src="{% static 'img/faces/t4.png' %}" alt="img" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide" data-hash="tab3">
          <div
            class="row justify-content-between align-items-center"
            data-swiper-parallax-y="-100"
            data-swiper-parallax-opacity="0"
          >
            <div class="col-lg-7">
              <div class="mil-hori-box mil-mb-60">
                <h3>Design</h3>
              </div>

              <div class="row mil-mb-60">
                <div class="col-lg-6">
                  <p>
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable. If you are going to use a
                    passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing hidden.
                  </p>
                </div>
                <div class="col-lg-6">
                  <p>
                    Internet tend to repeat predefined chunks as necessary,
                    making this the first true generator on the Internet. It
                    uses a dictionary of over 200 Latin words, combined with a
                    handful of model sentence structures, to generate Lorem
                    Ipsum which looks reasonable.
                  </p>
                </div>
              </div>

              <a
                href="contact.html"
                class="mil-button mil-border mil-mb-15 mil-mr-30"
                ><span>Hire UI / UX Designers</span></a
              >
              <a href="#." class="mil-link mil-mb-60"
                ><span>See More</span><i class="fas fa-arrow-right"></i
              ></a>
            </div>
            <div class="col-lg-4">
              <div
                class="mil-circle-illustration mil-with-dots mil-mb-60"
                data-swiper-parallax-scale=".8"
              >
                <div class="mil-circle-bg"></div>
                <div class="mil-image-frame">
                  <img src="{% static 'img/faces/t3.png' %}" alt="img" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide" data-hash="tab4">
          <div
            class="row justify-content-between align-items-center"
            data-swiper-parallax-y="-100"
            data-swiper-parallax-opacity="0"
          >
            <div class="col-lg-7">
              <div class="mil-hori-box mil-mb-60">
                <h3>Improve</h3>
              </div>

              <div class="row mil-mb-60">
                <div class="col-lg-6">
                  <p>
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable. If you are going to use a
                    passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing hidden.
                  </p>
                </div>
                <div class="col-lg-6">
                  <p>
                    Internet tend to repeat predefined chunks as necessary,
                    making this the first true generator on the Internet. It
                    uses a dictionary of over 200 Latin words, combined with a
                    handful of model sentence structures, to generate Lorem
                    Ipsum which looks reasonable.
                  </p>
                </div>
              </div>

              <a
                href="contact.html"
                class="mil-button mil-border mil-mb-15 mil-mr-30"
                ><span>Hire UI / UX Designers</span></a
              >
              <a href="#." class="mil-link mil-mb-60"
                ><span>See More</span><i class="fas fa-arrow-right"></i
              ></a>
            </div>
            <div class="col-lg-4">
              <div
                class="mil-circle-illustration mil-with-dots mil-mb-60"
                data-swiper-parallax-scale=".8"
              >
                <div class="mil-circle-bg"></div>
                <div class="mil-image-frame">
                  <img src="{% static 'img/faces/t2.png' %}" alt="img" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mil-tab-buttons mil-mt-60-adapt">
      <a href="#tab1" class="mil-active"><span>Discovery</span></a>
      <a href="#tab2"><span>Validate</span></a>
      <a href="#tab3"><span>Design</span></a>
      <a href="#tab4"><span>Improve</span></a>
    </div>
  </div>
</section>
<!-- steps end -->

<!-- reviews -->
<section class="mil-gradient-bg mil-p-120-120">
  <div class="mil-deco mil-deco-accent" style="top: 0; right: 30%"></div>
  <div
    class="mil-deco mil-deco-accent"
    style="bottom: 0; right: 10%; transform: rotate(180deg)"
  ></div>
  <div class="container">
    <div class="swiper-container mil-box-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div
            class="row justify-content-between align-items-center"
            data-swiper-parallax-y="-100"
            data-swiper-parallax-opacity="0"
          >
            <div class="col-lg-3 offset-lg-1">
              <div
                class="mil-circle-illustration mil-with-dots mil-mb-60"
                data-swiper-parallax-scale=".8"
              >
                <div class="mil-circle-bg"></div>
                <div class="mil-image-frame">
                  <img src="{% static 'img/faces/t6.png' %}" alt="img" />
                </div>
              </div>
            </div>
            <div class="col-lg-7">
              <div class="mil-icon-frame mil-light mil-icon-frame-sm mil-mb-60">
                <img src="{% static 'img/icons/sm/11.svg' %}" alt="icon" />
              </div>

              <p class="mil-text-lg mil-light mil-mb-60">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua quis
                ipsum suspendisse ultrices gravida risus commodo viverra
                maecenas.
              </p>

              <h3 class="mil-light mil-mb-15">Victoria Oldman</h3>
              <p class="mil-light-soft">Director of Product Management</p>
              <p class="mil-accent">ITAgency, Inc</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="row justify-content-between align-items-center"
            data-swiper-parallax-y="-100"
            data-swiper-parallax-opacity="0"
          >
            <div class="col-lg-3 offset-lg-1">
              <div
                class="mil-circle-illustration mil-with-dots mil-mb-60"
                data-swiper-parallax-scale=".8"
              >
                <div class="mil-circle-bg"></div>
                <div class="mil-image-frame">
                  <img src="{% static 'img/faces/t1.png' %}" alt="img" />
                </div>
              </div>
            </div>
            <div class="col-lg-7">
              <div class="mil-icon-frame mil-light mil-icon-frame-sm mil-mb-60">
                <img src="{% static 'img/icons/sm/11.svg' %}" alt="icon" />
              </div>

              <p class="mil-text-lg mil-light mil-mb-60">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua quis
                ipsum suspendisse ultrices gravida risus commodo viverra
                maecenas.
              </p>

              <h3 class="mil-light mil-mb-15">John Doe</h3>
              <p class="mil-light-soft">Director of Product Management</p>
              <p class="mil-accent">ITAgency, Inc</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="row justify-content-between align-items-center"
            data-swiper-parallax-y="-100"
            data-swiper-parallax-opacity="0"
          >
            <div class="col-lg-3 offset-lg-1">
              <div
                class="mil-circle-illustration mil-with-dots mil-mb-60"
                data-swiper-parallax-scale=".8"
              >
                <div class="mil-circle-bg"></div>
                <div class="mil-image-frame">
                  <img src="{% static 'img/faces/t2.png' %}" alt="img" />
                </div>
              </div>
            </div>
            <div class="col-lg-7">
              <div class="mil-icon-frame mil-light mil-icon-frame-sm mil-mb-60">
                <img src="{% static 'img/icons/sm/11.svg' %}" alt="icon" />
              </div>

              <p class="mil-text-lg mil-light mil-mb-60">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua quis
                ipsum suspendisse ultrices gravida risus commodo viverra
                maecenas.
              </p>

              <h3 class="mil-light mil-mb-15">Oscar Trueman</h3>
              <p class="mil-light-soft">Director of Product Management</p>
              <p class="mil-accent">ITAgency, Inc</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <div
          class="mil-slider-nav justify-content-lg-center mil-reviews-btns-space"
        >
          <div class="mil-slider-btn-prev mil-box-prev mil-light">
            <i class="fas fa-arrow-left"></i><span class="mil-h6">Prev</span>
          </div>
          <div class="mil-slider-btn-next mil-box-next mil-light">
            <span class="mil-h6">Next</span><i class="fas fa-arrow-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- reviews end -->

<!-- portfolio -->
<section class="mil-works mil-p-120-90">
  <div class="mil-deco" style="top: 0; right: 40%"></div>
  <div class="container">
    <div class="row align-items-center mil-mb-60-adapt">
      <div class="col-md-6 col-xl-6">
        <h2 class="mil-mb-30">Latest Projects</h2>
      </div>
      <div class="col-md-6 col-xl-6">
        <div class="mil-adaptive-right">
          <div class="mil-slider-nav mil-mb-30">
            <div class="mil-slider-btn-prev mil-works-prev">
              <i class="fas fa-arrow-left"></i><span class="mil-h6">Prev</span>
            </div>
            <div class="mil-slider-btn-next mil-works-next">
              <span class="mil-h6">Next</span><i class="fas fa-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-container mil-works-slider mil-mb-90">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="project.html" class="mil-card">
            <div class="mil-cover-frame">
              <img src="{% static 'img/projects/1.jpg' %}" alt="project" />
            </div>
            <div class="mil-description">
              <div class="mil-card-title">
                <h4 class="mil-mb-20">Easy & Most Powerful Server Platform.</h4>
                <h6>by: <span class="mil-accent">Jane Meldrum</span></h6>
              </div>
              <div class="mil-card-text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="project.html" class="mil-card">
            <div class="mil-cover-frame">
              <img src="{% static 'img/projects/2.jpg' %}" alt="project" />
            </div>
            <div class="mil-description">
              <div class="mil-card-title">
                <h4 class="mil-mb-20">Easy & Most Powerful Server Platform.</h4>
                <h6>by: <span class="mil-accent">Nguta Ithya</span></h6>
              </div>
              <div class="mil-card-text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="project.html" class="mil-card">
            <div class="mil-cover-frame">
              <img src="{% static 'img/projects/3.jpg' %}" alt="project" />
            </div>
            <div class="mil-description">
              <div class="mil-card-title">
                <h4 class="mil-mb-20">Easy & Most Powerful Server Platform.</h4>
                <h6>by: <span class="mil-accent">Roy Bricks</span></h6>
              </div>
              <div class="mil-card-text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="project.html" class="mil-card">
            <div class="mil-cover-frame">
              <img src="{% static 'img/projects/4.jpg' %}" alt="project" />
            </div>
            <div class="mil-description">
              <div class="mil-card-title">
                <h4 class="mil-mb-20">Easy & Most Powerful Server Platform.</h4>
                <h6>by: <span class="mil-accent">Nguta Ithya</span></h6>
              </div>
              <div class="mil-card-text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-6 col-xl-6">
        <a href="portfolio.html" class="mil-link mil-mb-30"
          ><span>View All Cases</span><i class="fas fa-arrow-right"></i
        ></a>
      </div>
      <div class="col-md-6 col-xl-6">
        <div class="mil-adaptive-right">
          <a href="contact.html" class="mil-button mil-border mil-mb-30"
            ><span>Get Started</span></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- portfolio end -->

<!-- contact -->
<section class="mil-contact mil-gradient-bg mil-p-120-0">
  <div class="mil-deco mil-deco-accent" style="top: 0; right: 10%"></div>
  <div class="container">
    <h2 class="mil-light mil-mb-90">
      Contact <span class="mil-accent">Us</span>
    </h2>
    <form>
      <div class="row">
        <div class="col-lg-6">
          <div class="mil-input-frame mil-mb-30">
            <label
              ><span class="mil-light">Name</span
              ><span class="mil-accent">Required</span></label
            >
            <input type="text" placeholder="Enter Your Name Here" />
          </div>
          <div class="mil-input-frame mil-mb-30">
            <label
              ><span class="mil-light">Email Adress</span
              ><span class="mil-accent">Required</span></label
            >
            <input type="email" id="email" placeholder="Your Email" />
          </div>
          <div class="mil-input-frame mil-mb-60">
            <label
              ><span class="mil-light">Phone</span
              ><span class="mil-light-soft">Optional</span></label
            >
            <input type="number" placeholder="Your Phone" />
          </div>
          <div class="mil-attach-frame mil-mb-60">
            <i class="fas fa-paperclip"></i>
            <label class="mil-custom-file-input">
              <span>Attach your file</span>
              <input type="file" id="mil-file-input" />
            </label>
            <p class="mil-text-sm mil-light-soft">up to 20MB</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="mil-input-frame mil-mb-30">
            <label
              ><span class="mil-light">Email Adress</span
              ><span class="mil-accent">Required</span></label
            >
            <textarea placeholder="Your Message"></textarea>
          </div>
          <p class="mil-text-sm mil-light-soft mil-mb-15">
            We will process your personal information in accordance with our
            Privacy Policy.
          </p>

          <div class="mil-checbox-frame mil-mb-60">
            <input
              class="mil-checkbox"
              id="checkbox-1"
              type="checkbox"
              value="value"
            />
            <label for="checkbox-1" class="mil-text-sm mil-light"
              >I would like to be contacted with news and updates about your
              <a href="#." class="mil-accent">events and services</a></label
            >
          </div>
        </div>
        <div class="col-12">
          <button class="mil-button mil-accent-bg mil-fw">
            <span>Send Message Now</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
<!-- contact end -->
{% endblock %}