{% extends 'base.html' %} {% load static %} {% block content %}
{% block navClassList %} mil-top-panel {% endblock %}
<!-- banner -->
<div class="mil-banner-sm mil-deep-bg">
  <img
    src="{% static 'img/deco/map.png' %}"
    alt="background"
    class="mil-background-image"
  />
  <div
    class="mil-deco mil-deco-accent"
    style="top: 47%; right: 10%; transform: rotate(90deg)"
  ></div>
  <div class="mil-banner-content">
    <div class="container mil-relative">
      <ul class="mil-breadcrumbs mil-mb-30">
        <li><a href="home-1.html">Home</a></li>
        <li><a href="service-1.html">Solution</a></li>
      </ul>
      <h2 class="mil-uppercase">AI consulting and development</h2>
    </div>
  </div>
</div>
<!-- banner end -->

<!-- call to action -->
<section class="mil-p-120-90">
  <div
    class="mil-deco"
    style="bottom: 0; right: 25%; transform: rotate(180deg)"
  ></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="mil-hori-box mil-mb-30">
          <div class="mil-mr-30">
            <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg">
              <img src="{% static 'img/icons/md/11.svg' %}" alt="icon" />
            </div>
          </div>
          <h5>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqu quis ipsum
            suspendisse ultrices gravida.
          </h5>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mil-adaptive-right">
          <a href="#." class="mil-button mil-border mil-mb-30"
            ><span>Get in Touch</span></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- call to action end -->

<div class="container">
  <div class="mil-divider"></div>
</div>

<!-- title -->
<section class="mil-p-120-0">
  <div class="container">
    <div class="mil-text-center mil-mb-90">
      <span class="mil-suptitle mil-suptitle-2 mil-mb-30"
        >Consulting and Development</span
      >
      <h2>
        AI Consulting and Development Company <br />
        With <span class="mil-accent">Extensive Know How</span>
      </h2>
    </div>
  </div>
</section>
<!-- title end -->

<!-- about -->
<section class="mil-deep-bg mil-p-120-0">
  <div class="container">
    <div class="swiper-container mil-tabs-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide" data-hash="tab1">
          <div
            class="row justify-content-between align-items-center"
            data-swiper-parallax-y="-100"
            data-swiper-parallax-opacity="0"
          >
            <div class="col-lg-7">
              <div class="mil-hori-box mil-mb-60">
                <div class="mil-mr-15">
                  <div class="mil-icon-frame mil-icon-frame-md">
                    <img src="{% static 'img/icons/md/2.svg' %}" alt="icon" />
                  </div>
                </div>
                <h5>Machine Learning</h5>
              </div>

              <div class="row mil-mb-60">
                <div class="col-lg-6">
                  <p>
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable. If you are going to use a
                    passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing hidden.
                  </p>
                </div>
                <div class="col-lg-6">
                  <p>
                    Internet tend to repeat predefined chunks as necessary,
                    making this the first true generator on the Internet. It
                    uses a dictionary of over 200 Latin words, combined with a
                    handful of model sentence structures, to generate Lorem
                    Ipsum which looks reasonable.
                  </p>
                </div>
              </div>

              <a href="#." class="mil-link mil-mb-60"
                ><span>See More</span><i class="fas fa-arrow-right"></i
              ></a>
            </div>
            <div class="col-lg-4">
              <div
                class="mil-circle-illustration mil-with-dots mil-mb-60"
                data-swiper-parallax-scale=".8"
              >
                <div class="mil-circle-bg"></div>
                <div class="mil-image-frame">
                  <img src="{% static 'img/faces/t3.png' %}" alt="img" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide" data-hash="tab2">
          <div
            class="row justify-content-between align-items-center"
            data-swiper-parallax-y="-100"
            data-swiper-parallax-opacity="0"
          >
            <div class="col-lg-7">
              <div class="mil-hori-box mil-mb-60">
                <div class="mil-mr-15">
                  <div class="mil-icon-frame mil-icon-frame-md">
                    <img src="{% static 'img/icons/md/1.svg' %}" alt="icon" />
                  </div>
                </div>
                <h5>Deep Learning</h5>
              </div>

              <div class="row mil-mb-60">
                <div class="col-lg-6">
                  <p>
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable. If you are going to use a
                    passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing hidden.
                  </p>
                </div>
                <div class="col-lg-6">
                  <p>
                    Internet tend to repeat predefined chunks as necessary,
                    making this the first true generator on the Internet. It
                    uses a dictionary of over 200 Latin words, combined with a
                    handful of model sentence structures, to generate Lorem
                    Ipsum which looks reasonable.
                  </p>
                </div>
              </div>

              <a href="#." class="mil-link mil-mb-60"
                ><span>See More</span><i class="fas fa-arrow-right"></i
              ></a>
            </div>
            <div class="col-lg-4">
              <div
                class="mil-circle-illustration mil-with-dots mil-mb-60"
                data-swiper-parallax-scale=".8"
              >
                <div class="mil-circle-bg"></div>
                <div class="mil-image-frame">
                  <img src="{% static 'img/faces/t4.png' %}" alt="img" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide" data-hash="tab3">
          <div
            class="row justify-content-between align-items-center"
            data-swiper-parallax-y="-100"
            data-swiper-parallax-opacity="0"
          >
            <div class="col-lg-7">
              <div class="mil-hori-box mil-mb-60">
                <div class="mil-mr-15">
                  <div class="mil-icon-frame mil-icon-frame-md">
                    <img src="{% static 'img/icons/md/11.svg' %}" alt="icon" />
                  </div>
                </div>
                <h5>Natural Language</h5>
              </div>

              <div class="row mil-mb-60">
                <div class="col-lg-6">
                  <p>
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable. If you are going to use a
                    passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing hidden.
                  </p>
                </div>
                <div class="col-lg-6">
                  <p>
                    Internet tend to repeat predefined chunks as necessary,
                    making this the first true generator on the Internet. It
                    uses a dictionary of over 200 Latin words, combined with a
                    handful of model sentence structures, to generate Lorem
                    Ipsum which looks reasonable.
                  </p>
                </div>
              </div>

              <a href="#." class="mil-link mil-mb-60"
                ><span>See More</span><i class="fas fa-arrow-right"></i
              ></a>
            </div>
            <div class="col-lg-4">
              <div
                class="mil-circle-illustration mil-with-dots mil-mb-60"
                data-swiper-parallax-scale=".8"
              >
                <div class="mil-circle-bg"></div>
                <div class="mil-image-frame">
                  <img src="{% static 'img/faces/t2.png' %}" alt="img" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide" data-hash="tab4">
          <div
            class="row justify-content-between align-items-center"
            data-swiper-parallax-y="-100"
            data-swiper-parallax-opacity="0"
          >
            <div class="col-lg-7">
              <div class="mil-hori-box mil-mb-60">
                <div class="mil-mr-15">
                  <div class="mil-icon-frame mil-icon-frame-md">
                    <img src="{% static 'img/icons/md/3.svg' %}" alt="icon" />
                  </div>
                </div>
                <h5>Computer Vision</h5>
              </div>

              <div class="row mil-mb-60">
                <div class="col-lg-6">
                  <p>
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable. If you are going to use a
                    passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing hidden.
                  </p>
                </div>
                <div class="col-lg-6">
                  <p>
                    Internet tend to repeat predefined chunks as necessary,
                    making this the first true generator on the Internet. It
                    uses a dictionary of over 200 Latin words, combined with a
                    handful of model sentence structures, to generate Lorem
                    Ipsum which looks reasonable.
                  </p>
                </div>
              </div>

              <a href="#." class="mil-link mil-mb-60"
                ><span>See More</span><i class="fas fa-arrow-right"></i
              ></a>
            </div>
            <div class="col-lg-4">
              <div
                class="mil-circle-illustration mil-with-dots mil-mb-60"
                data-swiper-parallax-scale=".8"
              >
                <div class="mil-circle-bg"></div>
                <div class="mil-image-frame">
                  <img src="{% static 'img/faces/t5.png' %}" alt="img" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mil-tab-buttons mil-mt-60-adapt">
      <a href="#tab1" class="mil-active"><span>Machine Learning</span></a>
      <a href="#tab2"><span>Deep Learning</span></a>
      <a href="#tab3"><span>Natural Language</span></a>
      <a href="#tab4"><span>Computer Vision</span></a>
    </div>
  </div>
</section>
<!-- about end -->

<!-- title -->
<section class="mil-p-120-0">
  <div class="container">
    <div class="mil-text-center mil-mb-90">
      <span class="mil-suptitle mil-suptitle-2 mil-mb-30"
        >Artificial Intelligence Consulting</span
      >
      <h2>Artificial Intelligence Solutions in Focus</h2>
    </div>
  </div>
</section>
<!-- title end -->

<!-- ??? -->
<section class="mil-awards">
  <div class="row m-0">
    <div class="col-xl-6 p-0 mil-relative">
      <img
        src="{% static 'img/photo/14.jpg' %}"
        class="mil-background-image"
        style="object-position: center"
        data-swiper-parallax-scale="1.1"
        alt="image"
      />
      <div class="mil-overlay mil-gradient-bg"></div>

      <div class="mil-fake-container mil-p-120-120">
        <div class="swiper-container mil-box-slider mil-mb-120">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div
                data-swiper-parallax-y="-100"
                data-swiper-parallax-opacity="0"
              >
                <h3 class="mil-light mil-mb-120">
                  AI Solutions To Analyze and Understand The
                  <span class="mil-accent">Physical World</span>
                </h3>
                <div class="mil-hori-box mil-mb-30">
                  <div class="mil-mr-15">
                    <div class="mil-icon-frame mil-light mil-icon-frame-md">
                      <img
                        src="{% static 'img/icons/md/10.svg' %}"
                        alt="icon"
                      />
                    </div>
                  </div>
                  <h5 class="mil-light">Facial Recognition</h5>
                </div>
                <p class="mil-light-soft">
                  Dissuade ecstatic and properly saw entirely sir why laughter
                  endeavor. In on my jointure horrible margaret suitable he
                  followed speedily.
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                data-swiper-parallax-y="-100"
                data-swiper-parallax-opacity="0"
              >
                <h3 class="mil-light mil-mb-120">
                  Industry Specific AI Consulting and
                  <span class="mil-accent">Development</span>
                </h3>
                <div class="mil-hori-box mil-mb-30">
                  <div class="mil-mr-15">
                    <div class="mil-icon-frame mil-light mil-icon-frame-md">
                      <img
                        src="{% static 'img/icons/md/11.svg' %}"
                        alt="icon"
                      />
                    </div>
                  </div>
                  <h5 class="mil-light">Artificial Intelligence</h5>
                </div>
                <p class="mil-light-soft">
                  Dissuade ecstatic and properly saw entirely sir why laughter
                  endeavor. In on my jointure horrible margaret suitable he
                  followed speedily.
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                data-swiper-parallax-y="-100"
                data-swiper-parallax-opacity="0"
              >
                <h3 class="mil-light mil-mb-120">
                  AI Solutions To Analyze and Understand The
                  <span class="mil-accent">Physical World</span>
                </h3>
                <div class="mil-hori-box mil-mb-30">
                  <div class="mil-mr-15">
                    <div class="mil-icon-frame mil-light mil-icon-frame-md">
                      <img
                        src="{% static 'img/icons/md/10.svg' %}"
                        alt="icon"
                      />
                    </div>
                  </div>
                  <h5 class="mil-light">Facial Recognition</h5>
                </div>
                <p class="mil-light-soft">
                  Dissuade ecstatic and properly saw entirely sir why laughter
                  endeavor. In on my jointure horrible margaret suitable he
                  followed speedily.
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                data-swiper-parallax-y="-100"
                data-swiper-parallax-opacity="0"
              >
                <h3 class="mil-light mil-mb-120">
                  Industry Specific AI Consulting and
                  <span class="mil-accent">Development</span>
                </h3>
                <div class="mil-hori-box mil-mb-30">
                  <div class="mil-mr-15">
                    <div class="mil-icon-frame mil-light mil-icon-frame-md">
                      <img
                        src="{% static 'img/icons/md/11.svg' %}"
                        alt="icon"
                      />
                    </div>
                  </div>
                  <h5 class="mil-light">Artificial Intelligence</h5>
                </div>
                <p class="mil-light-soft">
                  Dissuade ecstatic and properly saw entirely sir why laughter
                  endeavor. In on my jointure horrible margaret suitable he
                  followed speedily.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="mil-slider-nav">
          <div class="mil-slider-btn-prev mil-box-prev mil-light">
            <i class="fas fa-arrow-left"></i><span class="mil-h6">Prev</span>
          </div>
          <div class="mil-slider-btn-next mil-box-next mil-light">
            <span class="mil-h6">Next</span><i class="fas fa-arrow-right"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 p-0 mil-relative" style="overflow: hidden">
      <img
        src="{% static 'img/photo/14.jpg' %}"
        class="mil-background-image"
        style="object-position: center"
        data-swiper-parallax-scale="1.1"
        alt="image"
      />
      <div class="mil-overlay mil-with-deco mil-super-light"></div>
    </div>
  </div>
</section>
<!-- ??? end -->

<!-- ??? -->
<section class="mil-p-120-120">
  <div class="mil-deco" style="top: 0; right: 30%"></div>
  <div class="container">
    <div class="row align-items-end mil-mb-90">
      <div class="col-md-6 col-xl-6">
        <span class="mil-suptitle mil-suptitle-2 mil-mb-30"
          >Solutions of Consulting</span
        >
        <h2>
          <span class="mil-accent">Industry Specific</span> AI Consulting and
          Development
        </h2>
      </div>
      <div class="col-md-6 col-xl-6">
        <div class="mil-adaptive-right mil-mt-60-adapt">
          <div class="mil-slider-nav">
            <div class="mil-slider-btn-prev mil-revi-prev">
              <i class="fas fa-arrow-left"></i><span class="mil-h6">Prev</span>
            </div>
            <div class="mil-slider-btn-next mil-revi-next">
              <span class="mil-h6">Next</span><i class="fas fa-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-container mil-revi-slider mil-mb-90">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="mil-hover-card">
            <div class="mil-icon-frame mil-icon-frame-md mil-mb-30">
              <img src="{% static 'img/icons/md/12.svg' %}" alt="icon" />
            </div>
            <h5 class="mil-mb-30">Retail and eCommerce</h5>
            <p>
              Dissuade ecstatic and properly saw entirely sir why laughter
              endeavor. In on my jointure horrible margaret.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="mil-hover-card">
            <div class="mil-icon-frame mil-icon-frame-md mil-mb-30">
              <img src="{% static 'img/icons/md/13.svg' %}" alt="icon" />
            </div>
            <h5 class="mil-mb-30">Education and eLearning</h5>
            <p>
              Dissuade ecstatic and properly saw entirely sir why laughter
              endeavor. In on my jointure horrible margaret.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="mil-hover-card">
            <div class="mil-icon-frame mil-icon-frame-md mil-mb-30">
              <img src="{% static 'img/icons/md/14.svg' %}" alt="icon" />
            </div>
            <h5 class="mil-mb-30">Finance and Banking</h5>
            <p>
              Dissuade ecstatic and properly saw entirely sir why laughter
              endeavor. In on my jointure horrible margaret.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="mil-hover-card">
            <div class="mil-icon-frame mil-icon-frame-md mil-mb-30">
              <img src="{% static 'img/icons/md/2.svg' %}" alt="icon" />
            </div>
            <h5 class="mil-mb-30">Life Sciences</h5>
            <p>
              Dissuade ecstatic and properly saw entirely sir why laughter
              endeavor. In on my jointure horrible margaret.
            </p>
          </div>
        </div>
      </div>
    </div>
    <a href="#." class="mil-link"
      ><span>Let’s Solve Your Challenges With AI</span
      ><i class="fas fa-arrow-right"></i
    ></a>
  </div>
</section>
<!-- ??? end -->

<!-- call to action -->
<section class="call-to-action mil-gradient-bg mil-p-120-120">
  <div class="mil-deco mil-deco-accent" style="top: 0; left: 15%"></div>
  <div
    class="mil-deco mil-deco-accent"
    style="bottom: 0; right: 15%; transform: rotate(180deg)"
  ></div>
  <div class="container mil-text-center">
    <div class="mil-cta-frame">
      <div class="mil-icon-frame mil-icon-frame-md mil-mb-50">
        <img src="{% static 'img/icons/md/13l.svg' %}" alt="icon" />
      </div>
      <p class="mil-light mil-mb-30">Cybersecurity Ventures</p>
      <h3 class="mil-light">
        The Estimated Global Cost of
        <span class="mil-accent">Cybercrime</span> is
        <span class="mil-accent">$6T</span> <br />and Climbing
        <span class="mil-accent">+ 15%</span> a Year.
      </h3>
    </div>
  </div>
</section>
<!-- call to action end -->

<!-- tech stack -->
<section class="mil-p-120-90">
  <div class="mil-deco" style="top: 0; right: 15%"></div>
  <div class="container">
    <span class="mil-suptitle mil-suptitle-2 mil-mb-30">Our Tools</span>
    <h2 class="mil-mb-90">
      AI Development <span class="mil-accent">Tech Stack</span>
    </h2>

    <div class="row mil-grid-lines">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="mil-item-card">
          <h6>JavaScript</h6>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="mil-item-card">
          <h6>Python</h6>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="mil-item-card">
          <h6>GCloud</h6>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="mil-item-card">
          <h6>Java</h6>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="mil-item-card">
          <h6>MySQL</h6>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="mil-item-card">
          <h6>ONNX</h6>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="mil-item-card">
          <h6>Kotlin</h6>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="mil-item-card">
          <h6>Swift</h6>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="mil-item-card">
          <h6>PHP</h6>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="mil-item-card">
          <h6>MariaDB</h6>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="mil-item-card">
          <h6>AWS</h6>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="mil-item-card">
          <h6>React</h6>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- tech stack end -->
{% endblock %}