{% extends 'base.html' %} {% load static %} {% block content %}
{% block navClassList %} mil-top-panel {% endblock %}
<!-- banner -->
<div class="mil-banner-sm mil-deep-bg">
  <img
    src="{% static 'img/deco/map.png' %}"
    alt="background"
    class="mil-background-image"
  />
  <div
    class="mil-deco mil-deco-accent"
    style="top: 47%; right: 10%; transform: rotate(90deg)"
  ></div>
  <div class="mil-banner-content">
    <div class="container mil-relative">
      <ul class="mil-breadcrumbs mil-mb-30">
        <li><a href="home-1.html">Home</a></li>
        <li><a href="service-1.html">Solution</a></li>
      </ul>
      <h2 class="mil-uppercase">IoT development</h2>
    </div>
  </div>
</div>
<!-- banner end -->

<!-- ??? -->
<section class="mil-p-120-90">
  <div class="container">
    <h2 class="mil-text-center mil-mb-90">
      End-to-End <span class="mil-accent">IoT Software</span> Development
    </h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="mil-hover-card mil-box-center mil-mb-30">
          <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
            <h3>I</h3>
          </div>
          <h5 class="mil-mb-30">Embedded <br />IoT Solutions</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore facilisis.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mil-hover-card mil-box-center mil-mb-30">
          <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
            <h3>II</h3>
          </div>
          <h5 class="mil-mb-30">IoT Cloud Platforms and Dashboards</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore facilisis.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mil-hover-card mil-box-center mil-mb-30">
          <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
            <h3>III</h3>
          </div>
          <h5 class="mil-mb-30">IoT Mobile <br />App Development</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore facilisis.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ??? end -->

<!-- ??? -->
<section class="mil-p-0-90">
  <div class="container">
    <div
      class="row flex-sm-row-reverse justify-content-between align-items-center"
    >
      <div class="col-xl-6 mil-mb-30">
        <div class="mil-project-cover">
          <img src="{% static 'img/photo/16.jpg' %}" alt="Project" />
        </div>
      </div>
      <div class="col-xl-5 mil-mb-30">
        <h3 class="mil-mb-30">Smarthome Technology</h3>
        <p class="mil-mb-30">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <a href="#." class="mil-link"
          ><span>See More</span><i class="fas fa-arrow-right"></i
        ></a>
      </div>
    </div>
    <div class="row justify-content-between align-items-center">
      <div class="col-xl-6 mil-mb-30">
        <div class="mil-project-cover mil-type-2">
          <img src="{% static 'img/photo/17.jpg' %}" alt="Project" />
        </div>
      </div>
      <div class="col-xl-5 mil-mb-30">
        <h3 class="mil-mb-30">Medical IoT</h3>
        <p class="mil-mb-30">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <a href="#." class="mil-link"
          ><span>See More</span><i class="fas fa-arrow-right"></i
        ></a>
      </div>
    </div>
    <div
      class="row flex-sm-row-reverse justify-content-between align-items-center"
    >
      <div class="col-xl-6 mil-mb-30">
        <div class="mil-project-cover">
          <img src="{% static 'img/photo/18.jpg' %}" alt="Project" />
        </div>
      </div>
      <div class="col-xl-5 mil-mb-30">
        <h3 class="mil-mb-30">Apps For Wearables</h3>
        <p class="mil-mb-30">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <a href="#." class="mil-link"
          ><span>See More</span><i class="fas fa-arrow-right"></i
        ></a>
      </div>
    </div>
    <div class="row justify-content-between align-items-center">
      <div class="col-xl-6 mil-mb-30">
        <div class="mil-project-cover">
          <img src="{% static 'img/photo/19.jpg' %}" alt="Project" />
        </div>
      </div>
      <div class="col-xl-5 mil-mb-30">
        <h3 class="mil-mb-30">Industrial IoT Solutions</h3>
        <p class="mil-mb-30">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <a href="#." class="mil-link"
          ><span>See More</span><i class="fas fa-arrow-right"></i
        ></a>
      </div>
    </div>
  </div>
</section>
<!-- ??? end -->

<!-- ??? -->
<section class="mil-p-0-90">
  <div
    class="mil-deco"
    style="bottom: 0; right: 40%; transform: rotate(180deg)"
  ></div>
  <div class="container">
    <h2 class="mil-mb-60">
      Industry <span class="mil-accent">Specific IoT</span> Development
    </h2>

    <div class="swiper-container mil-revi-slider mil-mb-60">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="mil-hover-card">
            <div
              class="mil-deco mil-deco-accent"
              style="top: -10%; right: -10%"
            ></div>
            <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
              <img src="{% static 'img/icons/md/12.svg' %}" alt="icon" />
            </div>
            <p class="mil-mb-30">
              Dissuade ecstatic and properly saw entirely sir why laughter
              endeavor. In on my jointure horrible margaret.
            </p>
            <h6>Retail IoT</h6>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="mil-hover-card">
            <div
              class="mil-deco mil-deco-accent"
              style="top: -10%; right: -10%"
            ></div>
            <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
              <img src="{% static 'img/icons/md/25.svg' %}" alt="icon" />
            </div>
            <p class="mil-mb-30">
              Dissuade ecstatic and properly saw entirely sir why laughter
              endeavor. In on my jointure horrible margaret.
            </p>
            <h6>Healthcare IoT</h6>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="mil-hover-card">
            <div
              class="mil-deco mil-deco-accent"
              style="top: -10%; right: -10%"
            ></div>
            <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
              <img src="{% static 'img/icons/md/6.svg' %}" alt="icon" />
            </div>
            <p class="mil-mb-30">
              Dissuade ecstatic and properly saw entirely sir why laughter
              endeavor. In on my jointure horrible margaret.
            </p>
            <h6>IoT For Education</h6>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="mil-hover-card">
            <div
              class="mil-deco mil-deco-accent"
              style="top: -10%; right: -10%"
            ></div>
            <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
              <img src="{% static 'img/icons/md/23.svg' %}" alt="icon" />
            </div>
            <p class="mil-mb-30">
              Dissuade ecstatic and properly saw entirely sir why laughter
              endeavor. In on my jointure horrible margaret.
            </p>
            <h6>IoT Driven Supply Chain</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center flex-sm-row-reverse">
      <div class="col-lg-6">
        <div class="mil-adaptive-right mil-mb-30">
          <div class="mil-slider-nav">
            <div class="mil-slider-btn-prev mil-revi-prev">
              <i class="fas fa-arrow-left"></i><span class="mil-h6">Prev</span>
            </div>
            <div class="mil-slider-btn-next mil-revi-next">
              <span class="mil-h6">Next</span><i class="fas fa-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <a href="#." class="mil-link mil-mb-30"
          ><span>Talk to Our IoT Agent</span><i class="fas fa-arrow-right"></i
        ></a>
      </div>
    </div>
  </div>
</section>
<!-- ??? end -->

<div class="container">
  <div class="mil-divider"></div>
</div>

<!-- left nav tabs -->
<section class="mil-p-120-60">
  <div class="mil-deco" style="top: 0; right: 15%"></div>
  <div class="container">
    <span class="mil-suptitle mil-suptitle-2 mil-mb-30"
      >Our Data Analytics Expertise</span
    >
    <h2 class="mil-mb-90">
      IoT Development and Implementation <span class="mil-accent">Roadmap</span>
    </h2>

    <div class="row justify-content-between align-items-center">
      <div class="col-lg-5">
        <ul class="mil-tabs-left-nav mil-mb-60">
          <li>
            <a href="#tab-l-1" class="mil-h4 mil-active">Discovery & R&D</a>
          </li>
          <li><a href="#tab-l-2" class="mil-h4">MVP Development</a></li>
          <li><a href="#tab-l-3" class="mil-h4">MVP Rollout and Testing</a></li>
          <li><a href="#tab-l-4" class="mil-h4">IoT Scaling</a></li>
          <li><a href="#tab-l-5" class="mil-h4">IoT Ecosystem Setup</a></li>
        </ul>
      </div>
      <div class="col-lg-6">
        <div class="swiper-container mil-tabs-slider mil-mb-60">
          <div class="swiper-wrapper">
            <div class="swiper-slide" data-hash="tab-l-1">
              <div data-swiper-parallax="-100" data-swiper-parallax-opacity="0">
                <div
                  class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30"
                >
                  <img src="{% static 'img/icons/md/24.svg' %}" alt="icon" />
                </div>
                <div class="mil-mb-30">
                  <p>
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable. If you are going to use a
                    passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing hidden in the middle of text.
                  </p>
                </div>
                <a href="about.html" class="mil-link"
                  ><span>See More</span><i class="fas fa-arrow-right"></i
                ></a>
              </div>
            </div>
            <div class="swiper-slide" data-hash="tab-l-2">
              <div data-swiper-parallax="-100" data-swiper-parallax-opacity="0">
                <div
                  class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30"
                >
                  <img src="{% static 'img/icons/md/22.svg' %}" alt="icon" />
                </div>
                <div class="mil-mb-30">
                  <p>
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable. If you are going to use a
                    passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing hidden in the middle of text.
                  </p>
                </div>
                <a href="about.html" class="mil-link"
                  ><span>See More</span><i class="fas fa-arrow-right"></i
                ></a>
              </div>
            </div>
            <div class="swiper-slide" data-hash="tab-l-3">
              <div data-swiper-parallax="-100" data-swiper-parallax-opacity="0">
                <div
                  class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30"
                >
                  <img src="{% static 'img/icons/md/21.svg' %}" alt="icon" />
                </div>
                <div class="mil-mb-30">
                  <p>
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable. If you are going to use a
                    passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing hidden in the middle of text.
                  </p>
                </div>
                <a href="about.html" class="mil-link"
                  ><span>See More</span><i class="fas fa-arrow-right"></i
                ></a>
              </div>
            </div>
            <div class="swiper-slide" data-hash="tab-l-4">
              <div data-swiper-parallax="-100" data-swiper-parallax-opacity="0">
                <div
                  class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30"
                >
                  <img src="{% static 'img/icons/md/20.svg' %}" alt="icon" />
                </div>
                <div class="mil-mb-30">
                  <p>
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable. If you are going to use a
                    passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing hidden in the middle of text.
                  </p>
                </div>
                <a href="about.html" class="mil-link"
                  ><span>See More</span><i class="fas fa-arrow-right"></i
                ></a>
              </div>
            </div>
            <div class="swiper-slide" data-hash="tab-l-5">
              <div data-swiper-parallax="-100" data-swiper-parallax-opacity="0">
                <div
                  class="mil-icon-frame mil-icon-bg mil-icon-frame-md mil-mb-30"
                >
                  <img src="{% static 'img/icons/md/19.svg' %}" alt="icon" />
                </div>
                <div class="mil-mb-30">
                  <p>
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable. If you are going to use a
                    passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing hidden in the middle of text.
                  </p>
                </div>
                <a href="about.html" class="mil-link"
                  ><span>See More</span><i class="fas fa-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- left nav tabs end -->

<div class="container">
  <div class="mil-divider"></div>
</div>

<!-- reviews -->
<section class="mil-gradient-bg mil-p-120-120">
  <div class="mil-deco mil-deco-accent" style="top: 0; right: 30%"></div>
  <div
    class="mil-deco mil-deco-accent"
    style="bottom: 0; right: 20%; transform: rotate(180deg)"
  ></div>
  <div class="container">
    <div class="swiper-container mil-box-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div
            class="row justify-content-between align-items-center"
            data-swiper-parallax-y="-100"
            data-swiper-parallax-opacity="0"
          >
            <div class="col-lg-3 offset-lg-1">
              <div
                class="mil-circle-illustration mil-with-dots mil-mb-60"
                data-swiper-parallax-scale=".8"
              >
                <div class="mil-circle-bg"></div>
                <div class="mil-image-frame">
                  <img src="{% static 'img/faces/t6.png' %}" alt="img" />
                </div>
              </div>
            </div>
            <div class="col-lg-7">
              <div class="mil-icon-frame mil-light mil-icon-frame-sm mil-mb-60">
                <img src="{% static 'img/icons/sm/11.svg' %}" alt="icon" />
              </div>

              <p class="mil-text-lg mil-light mil-mb-60">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua quis
                ipsum suspendisse ultrices gravida risus commodo viverra
                maecenas.
              </p>

              <h3 class="mil-light mil-mb-15">Victoria Oldman</h3>
              <p class="mil-light-soft">Director of Product Management</p>
              <p class="mil-accent">ITAgency, Inc</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="row justify-content-between align-items-center"
            data-swiper-parallax-y="-100"
            data-swiper-parallax-opacity="0"
          >
            <div class="col-lg-3 offset-lg-1">
              <div
                class="mil-circle-illustration mil-with-dots mil-mb-60"
                data-swiper-parallax-scale=".8"
              >
                <div class="mil-circle-bg"></div>
                <div class="mil-image-frame">
                  <img src="{% static 'img/faces/t1.png' %}" alt="img" />
                </div>
              </div>
            </div>
            <div class="col-lg-7">
              <div class="mil-icon-frame mil-light mil-icon-frame-sm mil-mb-60">
                <img src="{% static 'img/icons/sm/11.svg' %}" alt="icon" />
              </div>

              <p class="mil-text-lg mil-light mil-mb-60">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua quis
                ipsum suspendisse ultrices gravida risus commodo viverra
                maecenas.
              </p>

              <h3 class="mil-light mil-mb-15">John Doe</h3>
              <p class="mil-light-soft">Director of Product Management</p>
              <p class="mil-accent">ITAgency, Inc</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="row justify-content-between align-items-center"
            data-swiper-parallax-y="-100"
            data-swiper-parallax-opacity="0"
          >
            <div class="col-lg-3 offset-lg-1">
              <div
                class="mil-circle-illustration mil-with-dots mil-mb-60"
                data-swiper-parallax-scale=".8"
              >
                <div class="mil-circle-bg"></div>
                <div class="mil-image-frame">
                  <img src="{% static 'img/faces/t2.png' %}" alt="img" />
                </div>
              </div>
            </div>
            <div class="col-lg-7">
              <div class="mil-icon-frame mil-light mil-icon-frame-sm mil-mb-60">
                <img src="{% static 'img/icons/sm/11.svg' %}" alt="icon" />
              </div>

              <p class="mil-text-lg mil-light mil-mb-60">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua quis
                ipsum suspendisse ultrices gravida risus commodo viverra
                maecenas.
              </p>

              <h3 class="mil-light mil-mb-15">Oscar Trueman</h3>
              <p class="mil-light-soft">Director of Product Management</p>
              <p class="mil-accent">ITAgency, Inc</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <div
          class="mil-slider-nav justify-content-lg-center mil-reviews-btns-space"
        >
          <div class="mil-slider-btn-prev mil-box-prev mil-light">
            <i class="fas fa-arrow-left"></i><span class="mil-h6">Prev</span>
          </div>
          <div class="mil-slider-btn-next mil-box-next mil-light">
            <span class="mil-h6">Next</span><i class="fas fa-arrow-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- reviews end -->
{% endblock %}