{% extends 'base.html' %} {% load static %} {% block content %}
{% block navClassList %} mil-top-panel {% endblock %}
<!-- banner -->
<div class="mil-banner-sm mil-deep-bg">
  <img
    src="{% static 'img/deco/map.png' %}"
    alt="background"
    class="mil-background-image"
  />
  <div class="mil-banner-content">
    <div class="container mil-relative">
      <div class="row justify-content-between">
        <div class="col-lg-6 mil-adaptive-center">
          <a href="team.html" class="mil-link link-left mil-mb-30"
            ><i class="fas fa-arrow-left"></i><span>Go Back</span></a
          >
          <h2 class="mil-uppercase mil-mb-30">Hayman Andrews</h2>
          <p>Engineering</p>
        </div>
      </div>
      <div class="mil-portrait-position">
        <div class="mil-portrait-frame">
          <img src="{% static 'img/faces/t1.png' %}" alt="Hayman Andrews" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- banner end -->

<!-- team member -->
<section class="mil-team mil-p-120-120">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-8 col-lg-8 col-xl-8">
        <h3 class="mil-mb-30">Biography</h3>
        <p class="mil-mb-60">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam id,
          repudiandae ducimus ipsam magni neque iste provident fugiat laboriosam
          officia repellendus dolores enim perspiciatis a cupiditate nihil.
        </p>
        <ul class="mil-timeline">
          <li>
            <h5 class="mil-mb-5">Capital Agency</h5>
            <p class="mil-text-sm">2014-1017</p>
          </li>

          <li>
            <h5 class="mil-mb-5">Under Inc</h5>
            <p class="mil-text-sm">2017-1019</p>
          </li>
          <li>
            <h5 class="mil-mb-5">ITSulu Group</h5>
            <p class="mil-text-sm">2019-Today</p>
          </li>
        </ul>
        <p class="mil-mb-60">
          Typi non habent claritatem insitam; est usus legentis in iis qui facit
          eorum claritatem. Investigationes demonstraverunt lectores legere me
          lius quod ii legunt saepius. Claritas est etiam processus dynamicus,
          qui sequitur mutationem consuetudium lectorum. Mirum est notare quam
          littera gothica, quam nunc putamus parum claram, anteposuerit
          litterarum formas humanitatis per seacula quarta decima et quinta
          decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant
          sollemnes in futurum. Duis autem vel eum iriure dolor in hendrerit.
        </p>

        <div class="mil-divider mil-mb-60"></div>
        <div class="row">
          <div class="col-lg-4">
            <h6 class="mil-mb-30">Wearable Dev</h6>

            <div class="mil-skill-frame mil-mb-60">
              <div class="mil-skill-track">
                <div class="mil-skill-prog" style="width: 65%"></div>
              </div>
              <div class="mil-text-sm">65%</div>
            </div>
          </div>
          <div class="col-lg-4">
            <h6 class="mil-mb-30">Design Analytics</h6>

            <div class="mil-skill-frame mil-mb-60">
              <div class="mil-skill-track">
                <div class="mil-skill-prog" style="width: 65%"></div>
              </div>
              <div class="mil-text-sm">65%</div>
            </div>
          </div>
          <div class="col-lg-4">
            <h6 class="mil-mb-30">Content Strategy</h6>

            <div class="mil-skill-frame mil-mb-60">
              <div class="mil-skill-track">
                <div class="mil-skill-prog" style="width: 65%"></div>
              </div>
              <div class="mil-text-sm">65%</div>
            </div>
          </div>
        </div>
        <div class="mil-divider mil-mb-60"></div>
        <h3 class="mil-mb-30">Skills</h3>
        <p class="mil-mb-60">
          Typi non habent claritatem insitam; est usus legentis in iis qui facit
          eorum claritatem. Investigationes demonstraverunt lectores legere me
          lius quod ii legunt saepius. Claritas est etiam processus dynamicus,
          qui sequitur mutationem consuetudium lectorum. Mirum est notare quam
          littera gothica, quam nunc putamus parum claram, anteposuerit
          litterarum formas humanitatis per seacula quarta decima et quinta
          decima.
        </p>
        <div class="mil-divider mil-mb-60"></div>
        <h3 class="mil-mb-60">Social</h3>
        <ul class="mil-social-links mil-mb-30">
          <li><a href="#.">Facebook</a></li>
          <li><a href="#.">Instagram</a></li>
          <li><a href="#.">LinkedIn</a></li>
          <li><a href="#.">Twitter</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-3 col-lg-3">
        <div class="mil-icon-box mil-mt-60-adapt">
          <div class="mil-icon-frame mil-icon-frame-md mil-mb-30">
            <img src="{% static 'img/icons/md/7.svg' %}" alt="icon" />
          </div>
          <h4 class="mil-mb-30">
            ITSulu allowed me to grow and
            <span class="mil-accent">reach goals</span> that I never imagined.
          </h4>
          <div class="mil-divider mil-divider-left mil-mb-30"></div>
          <p>Hayman Andrews</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- team member end -->

<!-- contact -->
<section class="mil-contact mil-gradient-bg mil-p-120-0">
  <div class="mil-deco mil-deco-accent" style="top: 0; right: 10%"></div>
  <div class="container">
    <h2 class="mil-light mil-mb-90">
      Contact <span class="mil-accent">Me</span>
    </h2>
    <form>
      <div class="row">
        <div class="col-lg-6">
          <div class="mil-input-frame mil-mb-30">
            <label
              ><span class="mil-light">Name</span
              ><span class="mil-accent">Required</span></label
            >
            <input type="text" placeholder="Enter Your Name Here" />
          </div>
          <div class="mil-input-frame mil-mb-30">
            <label
              ><span class="mil-light">Email Adress</span
              ><span class="mil-accent">Required</span></label
            >
            <input type="email" placeholder="Your Email" />
          </div>
          <div class="mil-input-frame mil-mb-60">
            <label
              ><span class="mil-light">Phone</span
              ><span class="mil-light-soft">Optional</span></label
            >
            <input type="number" placeholder="Your Phone" />
          </div>
          <div class="mil-attach-frame mil-mb-60">
            <i class="fas fa-paperclip"></i>
            <label class="mil-custom-file-input">
              <span>Attach your file</span>
              <input type="file" id="mil-file-input" />
            </label>
            <p class="mil-text-sm mil-light-soft">up to 20MB</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="mil-input-frame mil-mb-30">
            <label
              ><span class="mil-light">Email Adress</span
              ><span class="mil-accent">Required</span></label
            >
            <textarea placeholder="Your Message"></textarea>
          </div>
          <p class="mil-text-sm mil-light-soft mil-mb-15">
            We will process your personal information in accordance with our
            Privacy Policy.
          </p>

          <div class="mil-checbox-frame mil-mb-60">
            <input
              class="mil-checkbox"
              id="checkbox-1"
              type="checkbox"
              value="value"
            />
            <label for="checkbox-1" class="mil-text-sm mil-light"
              >I would like to be contacted with news and updates about your
              <a href="#." class="mil-accent">events and services</a></label
            >
          </div>
        </div>
        <div class="col-12">
          <button class="mil-button mil-accent-bg mil-fw">
            <span>Send Message Now</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
<!-- contact end -->
{% endblock %}