{% extends 'base.html' %} {% load static %} {% block content %}
{% block navClassList %} mil-top-panel {% endblock %}
<!-- banner -->
<div class="mil-banner-sm mil-deep-bg">
  <img
    src="{% static 'img/deco/map.png' %}"
    alt="background"
    class="mil-background-image"
  />
  <div
    class="mil-deco mil-deco-accent"
    style="top: 47%; right: 10%; transform: rotate(90deg)"
  ></div>
  <div class="mil-banner-content">
    <div class="container mil-relative">
      <ul class="mil-breadcrumbs mil-mb-30">
        <li><a href="home-1.html">Home</a></li>
        <li><a href="team.html">Team</a></li>
      </ul>
      <h2 class="mil-uppercase">Leadership Team</h2>
    </div>
  </div>
</div>
<!-- banner end -->

<!-- team -->
<section class="mil-team mil-p-120-60">
  <div class="container">
    <h3 class="mil-text-center mil-mb-120">
      It is a long established fact that a
      <span class="mil-accent">reader will be <br />distracted</span> by the
      readable content.
    </h3>
    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <a href="team-single.html" class="mil-team-card mil-mb-60">
          <div class="mil-image-frame mil-mb-30">
            <img src="{% static 'img/faces/1.jpg' %}" alt="Team member" />
            <div class="mil-team-circle"></div>
          </div>
          <h4 class="mil-mb-10">Andrew Kazantzis</h4>
          <p>CEO ITSulu</p>
        </a>
      </div>
      <div class="col-sm-6 col-lg-4">
        <a href="team-single.html" class="mil-team-card mil-mb-60">
          <div class="mil-image-frame mil-mb-30">
            <img src="{% static 'img/faces/2.jpg' %}" alt="Team member" />
            <div class="mil-team-circle"></div>
          </div>
          <h4 class="mil-mb-10">Jane Meldrum</h4>
          <p>Designer</p>
        </a>
      </div>
      <div class="col-sm-6 col-lg-4">
        <a href="team-single.html" class="mil-team-card mil-mb-60 mil-mb-30">
          <div class="mil-image-frame mil-mb-30">
            <img src="{% static 'img/faces/3.jpg' %}" alt="Team member" />
            <div class="mil-team-circle"></div>
          </div>
          <h4 class="mil-mb-10">Roy Ellawala</h4>
          <p>App Developer</p>
        </a>
      </div>
      <div class="col-sm-6 col-lg-4">
        <a href="team-single.html" class="mil-team-card mil-mb-60">
          <div class="mil-image-frame mil-mb-30">
            <img src="{% static 'img/faces/4.jpg' %}" alt="Team member" />
            <div class="mil-team-circle"></div>
          </div>
          <h4 class="mil-mb-10">Andrew Kazantzis</h4>
          <p>CEO ITSulu</p>
        </a>
      </div>
      <div class="col-sm-6 col-lg-4">
        <a href="team-single.html" class="mil-team-card mil-mb-60">
          <div class="mil-image-frame mil-mb-30">
            <img src="{% static 'img/faces/5.jpg' %}" alt="Team member" />
            <div class="mil-team-circle"></div>
          </div>
          <h4 class="mil-mb-10">Jane Meldrum</h4>
          <p>Designer</p>
        </a>
      </div>
      <div class="col-sm-6 col-lg-4">
        <a href="team-single.html" class="mil-team-card mil-mb-60">
          <div class="mil-image-frame mil-mb-30">
            <img src="{% static 'img/faces/6.jpg' %}" alt="Team member" />
            <div class="mil-team-circle"></div>
          </div>
          <h4 class="mil-mb-10">Roy Ellawala</h4>
          <p>App Developer</p>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- team end -->

<div class="container">
  <div class="mil-divider"></div>
</div>

<!-- icon boxes -->
<section class="mil-icon-boxes mil-p-120-60">
  <div class="container">
    <div class="row align-items-center justify-content-between mil-mb-90">
      <div class="col-xl-6">
        <h2>Values that <span class="mil-accent">Lead Us</span></h2>
      </div>
      <div class="col-xl-5">
        <p>
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xl-3">
        <div class="mil-icon-box mil-center mil-mb-60">
          <div class="mil-icon-frame mil-icon-frame-md mil-mb-30">
            <img src="{% static 'img/icons/md/5.svg' %}" alt="icon" />
          </div>
          <h5 class="mil-mb-20">
            <span class="mil-accent">01.</span>&nbsp; Productivity
          </h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor ut labore magna aliqua.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="mil-icon-box mil-center mil-mb-60">
          <div class="mil-icon-frame mil-icon-frame-md mil-mb-30">
            <img src="{% static 'img/icons/md/5.svg' %}" alt="icon" />
          </div>
          <h5 class="mil-mb-20">
            <span class="mil-accent">02.</span>&nbsp; Transparency
          </h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor ut labore magna aliqua.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="mil-icon-box mil-center mil-mb-60">
          <div class="mil-icon-frame mil-icon-frame-md mil-mb-30">
            <img src="{% static 'img/icons/md/5.svg' %}" alt="icon" />
          </div>
          <h5 class="mil-mb-20">
            <span class="mil-accent">03.</span>&nbsp; Personality
          </h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor ut labore magna aliqua.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="mil-icon-box mil-center mil-mb-60">
          <div class="mil-icon-frame mil-icon-frame-md mil-mb-30">
            <img src="{% static 'img/icons/md/5.svg' %}" alt="icon" />
          </div>
          <h5 class="mil-mb-20">
            <span class="mil-accent">04.</span>&nbsp; Volition
          </h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor ut labore magna aliqua.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- icon boxes end -->

<!-- call to action -->
<section class="call-to-action mil-gradient-bg mil-p-120-0">
  <div class="mil-deco mil-deco-accent" style="top: 0; left: 15%"></div>
  <div class="container mil-text-center">
    <div class="mil-cta-frame">
      <div class="mil-icon-frame mil-icon-frame-md mil-mb-60">
        <img src="{% static 'img/icons/md/6l.svg' %}" alt="icon" />
      </div>
      <p class="mil-light mil-mb-30">Leadership Team</p>
      <h2 class="mil-light mil-mb-30">
        Let’s <span class="mil-accent">Open the World</span> of IT to You
      </h2>
      <p class="mil-light-soft mil-mb-60">
        It is a long established fact that a reader will be distracted by the
        readable content <br />
        of a page when looking at its layout.
      </p>
      <a href="#." class="mil-button mil-border mil-light"
        ><span>Book an Appointment</span></a
      >
    </div>
  </div>
</section>
<!-- call to action end -->
{% endblock %}